.about .img1 {
  padding-left: 430px;
  font-size: 1.15em;
}

.about .img1 .image {
  width: 403px;
  height: 253px;
  float: left;
  margin-left: -430px;
}

.about .img2 {
  padding-right: 430px;
  font-size: 1.15em;
}

.about .img2 .image {
  width: 403px;
  height: 253px;
  float: right;
  margin-right: -430px;
}

.about .image {
  border-radius: 8px;
}

.about h2 {
  margin-bottom: 1em;
}

.about p {
  line-height: 1.5em;
}

.about ul li {
  list-style-image: url("../images/square.png");
}

.about .list ul {
  padding-left: 2em;
}

.about .list li {
  width: 16em;
  float: left;
  padding: .3em 0 .3em 1.5em;
  list-style: none;
}

.about .hr {
  clear: both;
}

.about hr {
  height: 1px;
  border: none;
  margin: 3em 0;
  background: #e8e8e8;
  color: #e8e8e8;
}

.about .table {
  width: 100%;
}

.about .copyright {
  white-space: pre;
}

.author {
  margin: 1em 0 0 0;
  color: #888;
  font-style: italic;
}

.screenshots {
  text-align: center;
}

.screenshots img {
  margin: 1.5em .5em .5em .5em;
}

.screenshot {
  text-align: center;
}

.story img {
  margin: 0 0 .2em 0;
}

.sponsors table {
  width: 100%;
}

.sponsors table .rowtotal {
  background: #ffffc9;
  font-size: 1.2em;
}

.sponsors table td, .sponsors table th {
  padding-right: 10px;
}

.sponsors .why {
  float: right;
  width: 45%;
  padding: 0 0 .5em 1.5em;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-bottom-left-radius: 16px;
  margin: 0 0 0 1.5em;
}

.sponsors .why h4 {
  padding: 0;
  margin: 0;
}

.sponsors form {
  margin: 1em 0 2em 20%;
}

.sponsors .date {
  color: #333;
  text-align: left;
  white-space: nowrap;
}

.sponsors .rank {
  color: #333;
  text-align: right;
  white-space: nowrap;
}

.sponsors .amount {
  text-align: right;
  white-space: nowrap;
}

.sponsors .name {
  text-align: left;
  white-space: nowrap;
}

.sponsors .number {
  padding-left: .5em;
  color: #c55;
  font-size: .9em;
}

.sponsors .comment {
  text-align: left;
  width: 100%;
}

.sponsors .comment .text {
  font-family: georgia, serif, verdana, arial, helvetica, sans-serif;
  font-size: 1.2em;
  font-style: italic;
}
