/* roadmap */

.roadmap .legend {
  float: right;
  padding: 0 0 .5em 1.5em;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-bottom-left-radius: 16px;
  margin: 0 0 0 1.5em;
  line-height: 1.7em;
}

.roadmap .legend img {
  margin-left: 2em;
}

.roadmap table {
  width: 100%;
}

.roadmap table th {
  padding: 0 .8em .5em .8em;
}

.roadmap .tracker {
  min-width: 7em;
  text-align: left;
  white-space: nowrap;
}

.roadmap .status {
  min-width: 70px;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.roadmap .done {
  color: #090;
}

.roadmap .planned {
  color: #c00;
}

.roadmap .bar {
  width: 70px;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  box-shadow: 1px 1px 1px #ddd;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  background: #afa;
  background: -moz-linear-gradient(#f4f4f4, #ffffff);
  background: -webkit-linear-gradient(#f4f4f4, #ffffff);
  background: linear-gradient(#f4f4f4, #ffffff);
}

.roadmap .bar td {
  padding: 0;
  margin: 0;
}

.roadmap .bar .done {
  background: #afa;
  background: -moz-linear-gradient(#8d8, #dfd);
  background: -webkit-linear-gradient(#8d8, #dfd);
  background: linear-gradient(#8d8, #dfd);
}

.roadmap .git {
  text-align: center;
  white-space: nowrap;
}

.roadmap .plugin {
  text-align: center;
  white-space: nowrap;
}

.roadmap .desc {
  width: 100%;
  text-align: left;
}

/* stats */

.stats pre {
  margin-bottom: 2em;
  font-size: 1.2em;
}

.svg object {
  margin: 0 15% 0 15%;
}

.svg a {
  position: relative;
  top: 3em;
  opacity: .6;
  float: right;
  font-size: .9em;
}

.svg img {
  vertical-align: bottom;
}

/* info */

.infolist {
  margin: 1em 0 1em 0;
}

.infolist table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 2em;
}

.infolist table th {
  padding: 0 1em 1em 1em;
  border-bottom: 1px dotted #ddd;
  text-align: left;
}

.infolist table td {
  padding: .5em 1em;
  border-bottom: 1px dotted #ddd;
}

.infolist .row1 {
  background: #fbfbff;
}
