.doc ul li {
  padding: .4em 0 0 0;
  list-style-image: url("../images/square.png");
}

.doc .flag {
  padding: 1em 0;
  font-weight: normal;
}

.doc .version {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
}

.doc .name {
  padding: 0 .5em 0 .5em;
  font-weight: normal;
  text-align: left;
}

.doc .icons {
  min-width: 8em;
  color: #aaa;
  font-size: .7em;
  text-align: center;
  vertical-align: middle;
}

.doc .date {
  padding-right: .5em;
  color: #939393;
  font-size: .9em;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

.doc .icons img {
  opacity: .8;
}

.doc .icons a {
  display: block;
  padding: 0 3em;
}

.doc .bestlang {
  background: #eef;
  font-weight: bold;
}

.doc th.bestlang {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.doc .bestlangdev {
  background: #fee;
  font-weight: bold;
}

.doc th.bestlangdev {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

/* i18n stats styles */

.i18n td {
  vertical-align: middle;
}

.i18n .language {
  text-align: left;
  white-space: nowrap;
}

.i18n .language img {
  border: 1px solid #e4e4e4;
  margin-right: .3em;
  vertical-align: bottom;
}

.i18n .po {
  text-align: left;
  white-space: nowrap;
}

.i18n .po .file {
  font-size: .9em;
}

.i18n .po .maintainer {
  margin-left: .5em;
  color: #aaa;
  font-size: .8em;
}

.i18n .baselang {
  color: #999;
  letter-spacing: .2em;
  text-align: center;
}

.i18n .numbers {
  text-align: right;
}

.i18n .cell1 {
  width: 4.7em;
  text-align: right;
  white-space: nowrap;
}

.i18n .cell2 {
  width: 4.5em;
  font-size: .8em;
  text-align: right;
  white-space: nowrap;
}

.i18n .translated1 {
  color: #070;
}

.i18n .translated2 {
  color: #0a0;
}

.i18n .fuzzy1 {
  color: #852;
}

.i18n .fuzzy2 {
  color: #b85;
}

.i18n .untranslated1 {
  color: #f00;
}

.i18n .untranslated2 {
  color: #f66;
}

.i18n-bar {
  width: 150px;
  border-collapse: collapse;
  box-shadow: 1px 1px 1px #ddd;
}

.i18n-bar td {
  padding: 0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  margin: 0;
}

.i18n-bar .translated {
  background: #afa;
  background: -moz-linear-gradient(#9e9, #dfd);
  background: -webkit-linear-gradient(#9e9, #dfd);
  background: linear-gradient(#9e9, #dfd);
}

.i18n-bar .fuzzy {
  background: #fda;
  background: -moz-linear-gradient(#fc9, #ffc);
  background: -webkit-linear-gradient(#fc9, #ffc);
  background: linear-gradient(#fc9, #ffc);
}

.i18n-bar .untranslated {
  background: #fbb;
  background: -moz-linear-gradient(#faa, #fdd);
  background: -webkit-linear-gradient(#faa, #fdd);
  background: linear-gradient(#faa, #fdd);
}

.i18n-legend {
  margin-top: .8em;
  color: #777;
  font-style: italic;
}
