.download {
  line-height: 1.7em;
}

.dlsep {
  padding-top: 1.5em;
  border-top: 1px dotted #bbb;
}

.dltitle {
  font-size: 1.4em;
  font-weight: bold;
}

.dldate {
  margin-left: 1em;
  color: #888;
  font-size: .7em;
}

.dlsub {
  margin: .5em 0 2em 0;
}

.dlsubtitle {
  border-bottom: 1px dotted #e2e2e2;
  margin: 1em 0 .8em 2.5em;
  color: #666;
  font-size: 1.2em;
  font-weight: bold;
}

.dlitem {
  margin: 0 0 .2em 2em;
}

.dlitem .notfound {
  text-decoration: line-through;
}

.dlicon {
  width: 18px;
  height: 18px;
  margin: 0 1em;
  vertical-align: middle;
}

.dllink {
  width: 14px;
  height: 14px;
  margin-left: .2em;
}

.dltype {
  float: left;
  width: 16em;
  text-align: right;
}

.dlinfopackage {
  margin-left: 1em;
  color: #777;
  font-size: .9em;
}

.dlsign kbd {
  display: block;
  font-size: 1.2em;
  padding: .3em 1em .3em 1em;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin: .7em 2em;
  background: #fafafa;
}

.dlsign li {
  margin-bottom: .5em;
}

.debian_repos {
  padding-top: .3em;
}

.debian {
  padding: .3em;
  border-radius: 6px;
  margin: .8em 0 0 0;
}

.debian .name {
  margin: .3em;
  font-size: 1.2em;
  font-weight: bold;
}

.debian .discontinued {
  text-decoration: line-through;
}

.debian .repoinfo {
  float: right;
  padding: .3em;
  text-align: right;
}

.debian .message {
  margin-bottom: .3em;
  color: #f00;
}

.debian .sources {
  margin-bottom: .3em;
  font-family: monospace;
  font-size: 1.2em;
}

.debian .builder {
  margin-bottom: .3em;
}

.debian .builder .nick {
  font-size: .9em;
}

.debian .latestbuild {
  font-size: 1.1em;
}

.debian table {
  margin: 0 0 0 1em;
}

.debian table td {
  padding: .2em .6em;
}

.debian .version {
  color: #080;
  font-weight: bold;
}

.debian .version_dev {
  color: #620;
}

.debian .date {
  font-size: .85em;
}

.debian .time {
  margin-left: .5em;
  color: #888;
}

.debian .files {
  padding: 0 1em 1em 2em;
  border-bottom: 1px solid #bbb;
  font-size: .9em;
}

.debian .size {
  margin: 0 0 0 1em;
  color: #666;
  font-size: .8em;
}

.distro_debian {
  border: 1px solid #d8d8e8;
  background: #f6f6ff;
  background: -moz-linear-gradient(#f0f0ff, #ffffff);
  background: -webkit-linear-gradient(#f0f0ff, #ffffff);
  background: linear-gradient(#f0f0ff, #ffffff);
}

.distro_ubuntu {
  border: 1px solid #ffd9c5;
  background: #fff4e5;
  background: -moz-linear-gradient(#fff4da, #ffffff);
  background: -webkit-linear-gradient(#fff4da, #ffffff);
  background: linear-gradient(#fff4df, #ffffff);
}

.distro_raspbian {
  border: 1px solid #d0e0d0;
  background: #f8fff8;
  background: -moz-linear-gradient(#f2fff2, #ffffff);
  background: -webkit-linear-gradient(#f2fff2, #ffffff);
  background: linear-gradient(#ebffeb, #ffffff);
}

.distro_discontinued {
  border: 1px solid #e2e2e2;
  background: repeating-linear-gradient(135deg, #fcfcfc 0, #f0f0f0 3%);
  opacity: .6;
}

.debian .end {
  clear: both;
}

.security {
  margin-top: 2em;
}

.security table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1.5em 0 1.5em 0;
}

.security table th {
  padding: .3em .7em .3em .7em;
  border: 1px solid #d5d5d5;
  background: #f0f0f0;
}

.security table td {
  padding: .5em .4em;
  border: 1px solid #d5d5d5;
  font-size: 1em;
  line-height: 1.5em;
}

.security .linesev0 {
  background: #fff;
}

.security .linesev1 {
  background: #fff8f8;
}

.security .linesev2 {
  background: #ffefef;
}

.security .linesev3 {
  background: #ffe0e0;
}

.security .tracker {
  text-align: center;
  white-space: nowrap;
}

.security .sev0 {
  color: #b80;
  text-align: center;
  white-space: nowrap;
}

.security .sev1 {
  color: #d00;
  text-align: center;
  white-space: nowrap;
}

.security .sev2 {
  color: #d00;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.security .sev3 {
  color: #f00;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.security .affected {
  color: #c00;
  text-align: center;
  white-space: nowrap;
}

.security .fixed {
  color: #0a0;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.security .date {
  text-align: center;
  white-space: nowrap;
}

.security .commits {
  text-align: center;
  white-space: nowrap;
}

.security .workaround {
  padding: .5em 0 0 20px;
}

.security .workaround img {
  float: left;
  margin: .4em 0 0 -16px;
}

.release .bar {
  height: 2.75em;
  border: 1px solid #bbb;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-radius: 6px;
  box-shadow: 2px 2px 2px #dadada;
  margin: 2em 0 1.5em 0;
  background: #fbfbfb;
}

.release .bar .done {
  height: 100%;
  border-radius: 6px;
  background: #9e9;
  background: -moz-linear-gradient(left, #efe, #9e9);
  background: -webkit-linear-gradient(left, #efe, #9e9);
  background: linear-gradient(left, #efe, #9e9);
}

.release .bar .pct {
  position: relative;
  top: .2em;
  left: .5em;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
  vertical-align: middle;
}

.release ul {
  padding: 0 0 0 2em;
}

.release li {
  margin: .2em 0 0 0;
  color: #bbb;
  font-size: 1.1em;
  list-style: none;
}

.release li em {
  padding: 0 .3em 0 .3em;
  border: 1px solid #ddd;
  margin: 0 .8em 0 0;
  font-family: monospace;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
}

.release li.progress {
  color: #fb5;
  font-weight: bold;
}

.release li.progress em {
  border: 1px solid #c82;
  background: #fb5;
  animation: blink 1s step-end infinite;
  -webkit-animation: blink 1s step-end infinite;
}

@keyframes blink {
  0% {
    background: #fb5;
  }
  50% {
    background: #fff;
  }
}

@-webkit-keyframes blink {
  0% {
    background: #fb5;
  }
  50% {
    background: #fff;
  }
}

.release li.done {
  color: #0a0;
  font-weight: bold;
}

.release li.done em {
  border: 1px solid #6a6;
  background: #9e9;
}
