.table-2col {
  width: 100%;
  font-size: 1em;
}

.table-2col td {
  vertical-align: top;
}

.table-2col .col1 {
  width: 49%;
  padding-right: .5em;
}

.table-2col .col2 {
  width: 2%;
}

.table-2col .col3 {
  width: 49%;
  padding-left: .5em;
}

.table-2col td p {
  padding-right: 1em;
}

.table-2col h2 {
  padding: 0 0 .5em 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 1.5em 0 .5em 0;
}

.table-2col h2 a.more {
  float: right;
  font-size: .75em;
  text-shadow: none;
}

.table-2col h2 .date {
  padding-left: 1.5em;
  color: #888;
  font-size: .75em;
  text-shadow: none;
}

.home-bloc p {
  padding: 0;
  margin: 1em 0 1.5em 0;
}

.home-bloc .list {
  padding: 0 0 0 2em;
  margin: .2em 0 0 0;
}

.home-bloc .list li {
  padding: .2em 0;
  margin: 0;
  list-style-image: url("../images/square.png");
}

.home-bloc .stable {
  color: #090;
  font-family: sans-serif;
  font-size: 1.4em;
  font-weight: bold;
}

.home-bloc .devel {
  color: #900;
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
}

.home-bloc .dateversion {
  font-weight: bold;
  white-space: nowrap;
}

.news table {
  border-bottom: 1px dotted #e5e5e5;
  border-collapse: collapse;
  margin-top: -.5em;
}

.news table td, .news table th {
  padding: .95em 0;
  border-bottom: 1px dotted #e5e5e5;
  text-align: left;
  vertical-align: top;
}

.news table th {
  font-weight: normal;
  white-space: nowrap;
}

.news table td {
  width: 100%;
  padding-left: 1.7em;
}
