.pluginaction {
  margin-top: 30px;
  font-size: 1em;
}

.pluginaction table td {
  padding-right: 30px;
  font-size: 1em;
}

.pluginsearch {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-top: 15px;
  background: #fafafa;
}

.pluginsearch .filters {
  padding: 6px;
  border-bottom: 1px dotted #d5d5d5;
}

.pluginsearch .links {
  float: right;
}

.pluginsearch .search {
  padding: 6px 6px 6px 20px;
  font-size: .9em;
}

.pluginsearch .search input {
  border: 1px solid #d0d0d0;
  background: #f0f8f0;
  font-size: .9em;
}

.pluginsearch .search small {
  color: #888;
  font-size: .8em;
}

.pluginlist {
  margin: 10px 0 5px 0;
  color: #333;
  font-size: 1em;
}

.pluginlist .notfound {
  margin-top: 10px;
  color: #b00;
  font-size: 1.1em;
  font-weight: bold;
}

.pluginlist table {
  width: 100%;
}

.pluginlist table th {
  padding: .2em;
  border: 1px solid #eaeaff;
  background: #f8f8f8;
}

.pluginlist table td {
  padding: .2em .4em;
  border: 1px solid #f2f2ff;
}

.pluginlist .row1 {
  background: #fff;
}

.pluginlist .row1:hover {
  background: #ffd;
}

.pluginlist .row2 {
  background: #f9f9ff;
}

.pluginlist .row2:hover {
  background: #ffd;
}

.pluginlist .tags {
  float: right;
  margin-left: 8px;
  color: #888;
  font-size: .8em;
}

.pluginlist .requirements {
  color: #777;
  font-size: .8em;
  font-style: italic;
}

.pluginlist .small {
  font-size: .9em;
}

.pluginlist .tiny {
  font-size: .8em;
}

.pluginlist .popular {
  width: 10px;
  min-width: 10px;
  float: left;
  margin-right: 2px;
}

.pluginlist .name {
  text-align: left;
  white-space: nowrap;
}

.pluginlist td.name {
  padding-right: 10px;
  font-size: .9em;
}

.pluginlist .name .ext {
  margin-left: .1em;
  color: #4a8ec1;
  font-size: .9em;
}

.pluginlist .name img {
  margin-right: .35em;
}

.pluginlist .desc, .pluginlist .approval {
  text-align: left;
}

.pluginlist .date {
  font-size: .8em;
  text-align: center;
  white-space: nowrap;
}

.plugininfo {
  padding: 1em;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 1em;
  background: #fafafa;
}

.plugininfo .download {
  float: right;
  margin-left: 1.5em;
}

.plugininfo .requirements {
  margin-left: 1em;
  color: #aaa;
  font-size: .9em;
}

.plugininfo .extra {
  margin-top: .4em;
  color: #888;
  font-size: .9em;
}
