.pygmentstable { line-height: 100%; }
.linenodiv { line-height: 125%; color: #BBBBBB; padding-right: 10px; border-right: solid 1px #EEEEEE; min-width: 4rem; text-align: right; }
.linenodiv pre { color: #BBBBBB; }
.pygments  { line-height: 125%; padding-left: 6px; }
.pygments .c { color: #408080; font-style: italic } /* Comment */
.pygments .err { border: 1px solid #FF0000 } /* Error */
.pygments .k { color: #008000; font-weight: bold } /* Keyword */
.pygments .o { color: #666666 } /* Operator */
.pygments .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.pygments .cp { color: #BC7A00 } /* Comment.Preproc */
.pygments .c1 { color: #408080; font-style: italic } /* Comment.Single */
.pygments .cs { color: #408080; font-style: italic } /* Comment.Special */
.pygments .gd { color: #A00000 } /* Generic.Deleted */
.pygments .ge { font-style: italic } /* Generic.Emph */
.pygments .gr { color: #FF0000 } /* Generic.Error */
.pygments .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pygments .gi { color: #00A000 } /* Generic.Inserted */
.pygments .go { color: #808080 } /* Generic.Output */
.pygments .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.pygments .gs { font-weight: bold } /* Generic.Strong */
.pygments .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pygments .gt { color: #0040D0 } /* Generic.Traceback */
.pygments .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.pygments .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.pygments .kp { color: #008000 } /* Keyword.Pseudo */
.pygments .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.pygments .kt { color: #B00040 } /* Keyword.Type */
.pygments .m { color: #666666 } /* Literal.Number */
.pygments .s { color: #BA2121 } /* Literal.String */
.pygments .na { color: #7D9029 } /* Name.Attribute */
.pygments .nb { color: #008000 } /* Name.Builtin */
.pygments .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.pygments .no { color: #880000 } /* Name.Constant */
.pygments .nd { color: #AA22FF } /* Name.Decorator */
.pygments .ni { color: #999999; font-weight: bold } /* Name.Entity */
.pygments .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.pygments .nf { color: #0000FF } /* Name.Function */
.pygments .nl { color: #A0A000 } /* Name.Label */
.pygments .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.pygments .nt { color: #008000; font-weight: bold } /* Name.Tag */
.pygments .nv { color: #19177C } /* Name.Variable */
.pygments .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.pygments .w { color: #bbbbbb } /* Text.Whitespace */
.pygments .mf { color: #666666 } /* Literal.Number.Float */
.pygments .mh { color: #666666 } /* Literal.Number.Hex */
.pygments .mi { color: #666666 } /* Literal.Number.Integer */
.pygments .mo { color: #666666 } /* Literal.Number.Oct */
.pygments .sb { color: #BA2121 } /* Literal.String.Backtick */
.pygments .sc { color: #BA2121 } /* Literal.String.Char */
.pygments .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.pygments .s2 { color: #BA2121 } /* Literal.String.Double */
.pygments .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.pygments .sh { color: #BA2121 } /* Literal.String.Heredoc */
.pygments .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.pygments .sx { color: #008000 } /* Literal.String.Other */
.pygments .sr { color: #BB6688 } /* Literal.String.Regex */
.pygments .s1 { color: #BA2121 } /* Literal.String.Single */
.pygments .ss { color: #19177C } /* Literal.String.Symbol */
.pygments .bp { color: #008000 } /* Name.Builtin.Pseudo */
.pygments .vc { color: #19177C } /* Name.Variable.Class */
.pygments .vg { color: #19177C } /* Name.Variable.Global */
.pygments .vi { color: #19177C } /* Name.Variable.Instance */
.pygments .il { color: #666666 } /* Literal.Number.Integer.Long */
