.pygmentstable { line-height: 100%; }
.linenodiv { line-height: 125%; color: #666666; padding-right: 10px; border-right: solid 1px #333333; min-width: 4rem; text-align: right; }
.linenodiv pre { color: #666666; }
.pygments  { line-height: 125%; padding-left: 6px; }
.pygments .c { color: #999999; font-style: italic } /* Comment */
.pygments .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.pygments .esc { color: #d0d0d0 } /* Escape */
.pygments .g { color: #d0d0d0 } /* Generic */
.pygments .k { color: #6ab825; font-weight: bold } /* Keyword */
.pygments .l { color: #d0d0d0 } /* Literal */
.pygments .n { color: #d0d0d0 } /* Name */
.pygments .o { color: #d0d0d0 } /* Operator */
.pygments .x { color: #d0d0d0 } /* Other */
.pygments .p { color: #d0d0d0 } /* Punctuation */
.pygments .ch { color: #999999; font-style: italic } /* Comment.Hashbang */
.pygments .cm { color: #999999; font-style: italic } /* Comment.Multiline */
.pygments .cp { color: #ed4848; font-weight: bold } /* Comment.Preproc */
.pygments .cpf { color: #999999; font-style: italic } /* Comment.PreprocFile */
.pygments .c1 { color: #999999; font-style: italic } /* Comment.Single */
.pygments .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.pygments .gd { color: #d22323 } /* Generic.Deleted */
.pygments .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.pygments .gr { color: #d22323 } /* Generic.Error */
.pygments .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.pygments .gi { color: #589819 } /* Generic.Inserted */
.pygments .go { color: #cccccc } /* Generic.Output */
.pygments .gp { color: #aaaaaa } /* Generic.Prompt */
.pygments .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.pygments .gu { color: #ffffff; } /* Generic.Subheading */
.pygments .gt { color: #d22323 } /* Generic.Traceback */
.pygments .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.pygments .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.pygments .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.pygments .kp { color: #6ab825 } /* Keyword.Pseudo */
.pygments .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.pygments .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.pygments .ld { color: #d0d0d0 } /* Literal.Date */
.pygments .m { color: #3677a9 } /* Literal.Number */
.pygments .s { color: #ed9d13 } /* Literal.String */
.pygments .na { color: #bbbbbb } /* Name.Attribute */
.pygments .nb { color: #24909d } /* Name.Builtin */
.pygments .nc { color: #649fef; } /* Name.Class */
.pygments .no { color: #40ffff } /* Name.Constant */
.pygments .nd { color: #ffa500 } /* Name.Decorator */
.pygments .ni { color: #d0d0d0 } /* Name.Entity */
.pygments .ne { color: #bbbbbb } /* Name.Exception */
.pygments .nf { color: #649fef } /* Name.Function */
.pygments .nl { color: #d0d0d0 } /* Name.Label */
.pygments .nn { color: #649fef; } /* Name.Namespace */
.pygments .nx { color: #d0d0d0 } /* Name.Other */
.pygments .py { color: #d0d0d0 } /* Name.Property */
.pygments .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.pygments .nv { color: #40ffff } /* Name.Variable */
.pygments .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.pygments .w { color: #666666 } /* Text.Whitespace */
.pygments .mb { color: #3677a9 } /* Literal.Number.Bin */
.pygments .mf { color: #3677a9 } /* Literal.Number.Float */
.pygments .mh { color: #3677a9 } /* Literal.Number.Hex */
.pygments .mi { color: #3677a9 } /* Literal.Number.Integer */
.pygments .mo { color: #3677a9 } /* Literal.Number.Oct */
.pygments .sa { color: #ed9d13 } /* Literal.String.Affix */
.pygments .sb { color: #ed9d13 } /* Literal.String.Backtick */
.pygments .sc { color: #ed9d13 } /* Literal.String.Char */
.pygments .dl { color: #ed9d13 } /* Literal.String.Delimiter */
.pygments .sd { color: #ed9d13 } /* Literal.String.Doc */
.pygments .s2 { color: #ed9d13 } /* Literal.String.Double */
.pygments .se { color: #ed9d13 } /* Literal.String.Escape */
.pygments .sh { color: #ed9d13 } /* Literal.String.Heredoc */
.pygments .si { color: #ed9d13 } /* Literal.String.Interpol */
.pygments .sx { color: #ffa500 } /* Literal.String.Other */
.pygments .sr { color: #ed9d13 } /* Literal.String.Regex */
.pygments .s1 { color: #ed9d13 } /* Literal.String.Single */
.pygments .ss { color: #ed9d13 } /* Literal.String.Symbol */
.pygments .bp { color: #24909d } /* Name.Builtin.Pseudo */
.pygments .fm { color: #649fef } /* Name.Function.Magic */
.pygments .vc { color: #40ffff } /* Name.Variable.Class */
.pygments .vg { color: #40ffff } /* Name.Variable.Global */
.pygments .vi { color: #40ffff } /* Name.Variable.Instance */
.pygments .vm { color: #40ffff } /* Name.Variable.Magic */
.pygments .il { color: #3677a9 } /* Literal.Number.Integer.Long */
