.themelist {
  margin: 10px 0 5px 0;
  font-size: 1em;
}

.themelist .preview {
  float: left;
  margin-right: 2em;
}

.themelist .detail {
  padding-top: 1em;
}

.themelist .theme {
  font-size: 1.1em;
  font-weight: bold;
}

.themelist .weechat {
  color: #bbb;
}

.themelist .description {
  margin-top: .4em;
  font-family: georgia, serif, verdana, arial, helvetica, sans-serif;
  font-style: italic;
}

.themelist .date {
  margin-top: 1em;
  color: #777;
}

.themelist .end {
  clear: both;
}
