{% extends "base.html" %}

{% load i18n %}

{% block title %}WeeChat :: {% trans "about" %}{% endblock %}
{% block menu %}about{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link {% block menu2_features %}{% endblock %}" href="{% url 'about_features' %}">{% trans "Features" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_interfaces %}{% endblock %}" href="{% url 'about_interfaces' %}">{% trans "Interfaces" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_screenshots %}{% endblock %}" href="{% url 'about_screenshots' %}">{% trans "Screenshots" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_history %}{% endblock %}" href="{% url 'about_history' %}">{% trans "History" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_support %}{% endblock %}" href="{% url 'about_support' %}">{% trans "Support" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_weechatorg %}{% endblock %}" href="{% url 'about_weechat.org' %}">WeeChat.org</a></li>
</ul>

{% endblock content %}
