{% extends "about/about.html" %}

{% load i18n %}

{% block subtitle %} :: {% trans "donate" %}{% endblock %}
{% block menu2_donate %}selected{% endblock %}

{% block content %}

{{ block.super }}

<div class="sponsors">

  <div class="why">
    <h4>{% trans "Why your donation matters?" %}</h4>
    <p>
      {% trans "WeeChat is written by a small group of <strong>volunteers</strong>. Any contribution will show us that the project is appreciated and keep us motivated." %}
    </p>
    <h4>{% trans "How is your money used?" %}</h4>
    <p>
      {% trans "It is used to pay the <strong>dedicated server</strong>, used for developments, build of packages and hosting of weechat.org." %}
    </p>
  </div>

  <p>
    {% trans "Click on the Paypal icon below this text and follow instructions." %}
  </p>
  <p>
    {% trans "You can leave name and comment, they will be displayed on this page." %}
    {% trans "Please note that there is <strong>no advertising</strong> on weechat.org, therefore URLs are not displayed." %}
  </p>

  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <p>
      <input type="image" src="{{ MEDIA_URL }}images/paypal.png" width="100" height="35" alt="Donate" name="submit" />
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="4LSMSNLUAJWNS">
    </p>
  </form>

  {% if sponsor_list %}
  <h3>{% trans "They support WeeChat" %}</h3>
  {% if sort_key == "date" %}{% trans "Whole list:" %}{% else %}{% trans "Top 10, ordered by total amount donated:" %}{% endif %}
  <span class="sort">
  {% if sort_key == "date" %}
  [<a href="{% url 'about_donate_sort' 'top10' %}">{% trans "show the top 10, ordered by total amount donated" %}</a>]
  {% else %}
  [<a href="{% url 'about_donate_sort' 'date' %}">{% trans "show the whole list" %}</a>]
  {% endif %}
  </span>
  <table class="table">
    <tr>
      {% if sort_key == "date" %}
      <th class="date">{% trans "Date" %}</th>
      {% else %}
      <th class="rank">{% trans "Rank" %}</th>
      {% endif %}
      <th class="name">{% trans "Name" %}</th>
      {% if view_amount %}<th class="amount">{% trans "Amount" %}</th>{% endif %}
      {% if sort_key == "date" %}
      <th class="comment">{% trans "Comment" %}</th>
      {% else %}
      <th class="comment"></th>
      {% endif %}
    </tr>
  {% for sponsor in sponsor_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
      {% if sort_key == "date" %}
      <td class="date">{{ sponsor.date_l10n }}</td>
      {% else %}
      <td class="rank">{{ forloop.counter }}.</td>
      {% endif %}
      <td class="name">
        {{ sponsor.name }}
        {% if sponsor.number > 1 %}<span class="number">(#{{ sponsor.number }})</span>{% endif %}
      </td>
      {% if view_amount %}<td class="amount">{{ sponsor.amount|floatformat:"-2" }} &euro;</td>{% endif %}
      {% if sort_key == "date" %}
      <td class="comment">{% if sponsor.comment %}<span class="text">&ldquo; {{ sponsor.comment }} &rdquo;</span>{% endif %}</td>
      {% else %}
      <td class="comment"></td>
      {% endif %}
    </tr>
  {% endfor %}
  {% if view_amount %}
    <tr class="rowtotal">
      <td></td>
      <td class="name"><strong>{% trans "Total" %}</strong></td>
      <td class="amount"><strong>{{ total|floatformat:"-2" }}</strong> €</td>
      <td></td>
    </tr>
  {% endif %}
  </table>
  {% endif %}

</div>

{% endblock content %}
