{% extends "about/about.html" %}

{% load i18n %}{% load localdate %}

{% block subtitle %} :: {% trans "history" %}{% endblock %}
{% block menu2_history %}active{% endblock %}

{% block content %}

{{ block.super }}

<h3>{% trans "Why WeeChat?" %}</h3>

<p>
  {% blocktrans %}WeeChat stands for "Wee Enhanced Environment for Chat".{% endblocktrans %}
</p>

<div class="quote">
  <p>
    “ {% trans "In early 2003, I looked for an IRC client with following features:" %}
    <ul>
      <li>{% trans "free software" %}</li>
      <li>{% trans "running on Linux" %}</li>
      <li>{% trans "text interface" %}</li>
      <li>{% trans "real nicklist" %}</li>
      <li>{% trans "extensible with scripts written in various languages" %}</li>
    </ul>
    {% trans "My search was unsuccessful!" %}
  </p>

  <p class="mb-0">
    {% trans "And thus WeeChat was born, on June 2003." %} ”
  </p>
</div>
<footer class="blockquote-footer mt-1 mb-3">Sébastien Helleu (FlashCode)</footer>

{% if keydate_list %}
<h3>{% trans "Key dates" %}</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Version" %}</th>
        <th>{% trans "Features" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for keydate in keydate_list %}
      <tr>
        <td class="text-nowrap">{{ keydate.date|date:"m/Y" }}</td>
        <td>{{ keydate.version }}</td>
        <td>{{ keydate.text_i18n }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% comment %}
<h3>{% trans "Screenshots by version" %}</h3>

<p>
  {% for release in releases %}
  <img src="{{ MEDIA_URL }}images/story/weechat-{{ release.0 }}.png" alt="WeeChat {{ release.0 }}">
  <br>{% trans "Version" %} <strong>{{ release.0 }}</strong>, {% trans "released on" %} {{ release.1|localdate }}
  <br><br><br><br>
  {% endfor %}
</p>
{% endcomment %}

</div>

{% endblock content %}
