{% extends "about/about.html" %}

{% load i18n %}

{% block subtitle %} :: {% trans "screenshots" %}{% endblock %}
{% block menu2_screenshots %}selected{% endblock %}

{% block content %}

{{ block.super }}

<div class="navbt" style="border-bottom: none">
  <ul>
    <li><a href="{% url 'about_screenshots_app' 'weechat' %}"{% if app == "weechat" %} class="selected"{% endif %}>WeeChat</a></li>
    <li><a href="{% url 'about_screenshots_app' 'relay' %}"{% if app == "relay" %} class="selected"{% endif %}>{% trans "Relay clients" %}</a></li>
  </ul>
</div>

<div class="about">

{% if screenshot_list %}
  <div class="screenshots">
    {% for screenshot in screenshot_list %}
      <a href="{% url 'about_screenshot' app screenshot.filename %}">
        <img src="{{ MEDIA_URL }}images/screenshots/{{ screenshot.app }}/small/{{ screenshot.filename }}" alt="{{ screenshot.filename }}" title="{{ screenshot.comment }}">
      </a>
    {% endfor %}
  </div>
{% else %}
  {% if screenshot %}
    <div class="screenshot">
      <h3>{{ screenshot.comment }}</h3>
      <a href="{% url 'about_screenshots_app' app %}">
        <img src="{{ MEDIA_URL }}images/screenshots/{{ screenshot.app }}/medium/{{ screenshot.filename }}" alt="{{ screenshot.filename }}" title="{{ screenshot.comment }}">
      </a>
      <br>{{ screenshot.filename }}
    </div>
  {% else %}
    <div class="errorbox">
      {% if filename %}{% trans "Screenshot not found:" %} {{ filename }}{% else %}{% trans "No screenshot." %}{% endif %}
    </div>
  {% endif %}
{% endif %}

</div>

{% endblock content %}
