{% extends "about/about.html" %}

{% load i18n %}{% load txt2html %}

{% block subtitle %} :: WeeChat.org{% endblock %}
{% block menu2_weechatorg %}selected{% endblock %}

{% block content %}

{{ block.super }}

<div class="about">

  <h2>{% trans "Authors" %}</h2>

  {% trans "Developers:" %}

  <ul>
    <li><a href="mailto:{% txt2html "flashcode@flashtux.org" %}" title="email webmaster">Sébastien Helleu</a> (FlashCode)</li>
  </ul>

  <br />
  {% trans "Translators:" %}

  <ul>
    <li>Alexandre Bolelli</li>
    <li>Krzysztof Korościk (soltys)</li>
    <li>Marco Paolone</li>
    <li>Nils Görs (nils_2)</li>
    <li>Ryuunosuke Ayanokouzi</li>
  </ul>

{% comment %}
  <h2>{% trans "Source code" %}</h2>

  Source code of WeeChat.org is available on GitHub:
  <a href="https://github.com/weechat/weechat.org" target="_blank">
    https://github.com/weechat/weechat.org
    <img src="{{ MEDIA_URL }}images/link.png" width="16" height="16" alt="" />
  </a>
{% endcomment %}

  <h2>{% trans "Hosting" %}</h2>

  {% blocktrans %}WeeChat.org is hosted by <a href="https://www.hetzner.de/en/">Hetzner</a>.{% endblocktrans %}

  <h2>Copyright</h2>

  <div class="copyright">
WeeChat.org &mdash; Copyright &#169; 2003-{% now "Y" %} <a href="mailto:{% txt2html "flashcode@flashtux.org" %}" title="email webmaster">Sébastien Helleu</a>.

{% comment %}
WeeChat.org is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

WeeChat.org is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with WeeChat.org.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
{% endcomment %}
  </div>

</div>

{% endblock content %}
