<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Sébastien HELLEU FlashCode" />
  <meta name="description" content="WeeChat, the extensible chat client" />
  <meta name="keywords" content="weechat free fast light extensible chat client irc jabber linux bsd gpl console terminal curses" />
  <meta name="ROBOTS" content="ALL" />
  <title>WeeChat - Error 500: server error</title>
</head>

<body>
  <h1>Error 500</h1>
  <h2>Oh no! This is a server error...</h2>
  This error should be fixed soon, sorry for inconvenience.
  <br /><br />
  <a href="/">Back to home</a>
</body>

</html>
