# Map author and committer names and email addresses to canonical real names
# and email addresses.
#
# For example with these commands:
#   git shortlog -nse
#   git shortlog -se | cut -f2 | sort

Sébastien Helleu <flashcode@flashtux.org>
Nils Görs <weechatter@arcor.de>
Ryuunosuke Ayanokouzi <i38w7i3@yahoo.co.jp>
Krzysztof Korościk <soltys@szluug.org>
