{% extends "themes/themes.html" %}

{% load i18n %}

{% block menu2_add %}active{% endblock %}

{% block content %}

{{ block.super }}

<div class="alert alert-primary">
  {% trans "<strong>Warning:</strong> please follow <strong>all</strong> these rules, otherwise your theme will be rejected:" %}
  <ul>
    <li>{% blocktrans %}unique name, ending with ".theme" (only letters, digits or "_"){% endblocktrans %}</li>
    <li>{% blocktrans with version=release_stable.version %}theme must be built with latest stable version of WeeChat ({{ version }}) or development version{% endblocktrans %}</li>
  </ul>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-8">
    <form action="." method="post" enctype="multipart/form-data">
      {{ form.as_div }}
      <button type="submit" class="btn btn-primary btn-lg mt-3 px-5">{% trans "Submit" %}</button>
    </form>
  </div>
</div>

{% endblock content %}
