{% extends "themes/themes.html" %}

{% load i18n %}

{% block css %}
{{ block.super }}
  {% if theme == 'auto' %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments_dark.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments_light.css" media="(not (prefers-color-scheme: dark)), (prefers-color-scheme: light)">
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments_{{ theme }}.css" media="screen">
  {% endif %}
{% endblock %}

{% block menu2_list %}active{% endblock %}

{% block content %}

{{ block.super }}

<h3>{% trans "Theme" %}: {{ weechat_theme.name }}</h3>

<p>
  {% trans "Added" %}: {% if weechat_theme.added %}{{ weechat_theme.added|date:"Y-m-d" }}{% endif %}{% if weechat_theme.updated and weechat_theme.added != weechat_theme.updated %}, {% trans "updated" %}: {{ weechat_theme.updated|date:"Y-m-d" }}{% endif %}.
  <br>
  <a href="{{ weechat_theme.build_url }}" class="btn btn-success my-3" download>{% trans "Download" %}</a>
</p>

<p>
  {{ htmlsource|safe }}
</p>

{% endblock content %}
