{% extends "themes/themes.html" %}

{% load i18n %}

{% block css %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments.css" media="screen" title="Normal" />{% endblock %}
{% block menu2_list %}selected{% endblock %}

{% block content %}

{{ block.super }}

{% if htmlsource %}
  <h2>{% trans "Theme" %}: {{ theme.name }}</h2>

  <a href="/themes/"><img src="{{ MEDIA_URL }}images/arrow_left_green.png" alt="&lt;&lt;" /> {% trans "Back to themes" %}</a> &nbsp; | &nbsp;
  <a href="{{ theme.build_url }}"><img src="{{ MEDIA_URL }}images/dl_src.png" alt="Download" /> {% trans "Download" %}</a>
  {{ htmlsource|safe }}
{% else %}
  <div class="errorbox">
    {% trans "Theme not found" %}
    <br /><br />
    <a href="/themes/"><img src="{{ MEDIA_URL }}images/arrow_left_green.png" alt="&lt;&lt;" /> {% trans "Back to themes" %}</a>
  </div>
{% endif %}

{% endblock content %}
