{% extends "themes/themes.html" %}

{% load i18n %}

{% block css %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments.css" media="screen" title="Normal">{% endblock %}
{% block menu2_list %}active{% endblock %}

{% block content %}

{{ block.super }}

<h3>{% trans "Theme" %}: {{ theme.name }}</h3>

<p>
  {% trans "Added" %}: {% if theme.added %}{{ theme.added|date:"Y-m-d" }}{% endif %}{% if theme.updated and theme.added != theme.updated %}, {% trans "updated" %}: {{ theme.updated|date:"Y-m-d" }}{% endif %}.
  <br>
  <a href="{{ theme.build_url }}" class="btn btn-success my-3" download>{% trans "Download" %}</a>
</p>

<p>
  {{ htmlsource|safe }}
</p>

{% endblock content %}
