{% extends "base.html" %}

{% load i18n %}

{% block title %}WeeChat :: {% trans "themes" %}{% endblock %}
{% block menu %}themes{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link {% block menu2_list %}{% endblock %}" href="{% url 'themes' %}">{% trans "Themes" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_add %}{% endblock %}" href="{% url 'themes_add' %}">{% trans "Add theme" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_update %}{% endblock %}" href="{% url 'themes_update' %}">{% trans "Update theme" %}</a></li>
</ul>

{% endblock content %}
