{% extends "themes/themes.html" %}

{% load i18n %}

{% block menu2_update %}selected{% endblock %}

{% block content %}

{{ block.super }}

<div class="errorbox">
  {% trans "Oops... Something went wrong while processing the form :(" %}
  <br><br>
  {% trans "You can try again or report problem to webmaster if the problem persists." %}
</div>

<a href="javascript:history.back()"><img src="{{ MEDIA_URL }}images/arrow_left_green.png" alt="&lt;&lt;"> {% trans "Back to form" %}</a>

{% endblock content %}
