{% extends "scripts/scripts.html" %}

{% load i18n %}

{% block menu2_add %}active{% endblock %}

{% block content %}

{{ block.super }}

<div class="successbox">
  {% trans "Your script was submitted for review, it usually takes some weeks (several months if many scripts are pending)." %}
  <br><br>
  {% trans "You'll be informed if there is a problem with your script." %}
  <br><br>
  {% trans "Thank you for your patience." %}
</div>

<a href="{% url 'scripts' %}">{% trans "Back to scripts" %}</a>

{% endblock content %}
