{% extends "scripts/scripts.html" %}

{% load i18n %}

{% block extrahead %}{{ block.super }}<script src="{{ MEDIA_URL }}js/weechat.js"></script>{% endblock %}

{% block menu2_list %}active{% endblock %}

{% block content %}

{{ block.super }}

{% if script_list %}

<h3>{% trans "WeeChat official scripts" %}</h3>

<p>
  {% trans "This page shows a collection of WeeChat scripts written by external contributors, which can be installed directly in WeeChat with the command <code>/script install &lt;name&gt;</code>." %}
  <br>
  {% trans "WeeChat developers are <strong>NOT RESPONSIBLE</strong> for problems caused by one of these scripts: you could experience problems like memory leaks, slowdowns, or even <strong>security problems</strong>, you are warned!" %}
</p>

<p>
  {% trans "You can contribute by adding/updating scripts or reporting issues in the GitHub repository:" %}
  <a href="https://github.com/weechat/scripts" target="_blank" rel="noopener">
    https://github.com/weechat/scripts <sup>↗</sup>
  </a>
</p>

<div class="border rounded mb-3 script-filters">
  <div class="border-bottom p-2">
    <div class="ms-4 float-end">
      {% trans "List:" %}
      <a href="/files/scripts.xml">XML</a> (<a href="/files/scripts.xml.gz">gz</a>),
      <a href="/files/scripts.json">JSON</a> (<a href="/files/scripts.json.gz">gz</a>)
    </div>
    {% if filter_name %}
      {% trans "Filter:" %} {{ filter_name }} = {{ filter_value }} (<a href="{% url 'scripts' %}">{% trans "remove" %}</a>),
    {% else %}
      {% trans "No filter" %},
    {% endif %}
    <strong>{{ script_list|length }}</strong> {% trans "scripts" %}.
  </div>
  <div id="script_filters_0" class="p-2" style="{% if script_filters_displayed %}display: none{% endif %}">
    <a href="#" onclick="toggle('script_filters_0', 'none'); toggle('script_filters_1', 'block'); set_cookie('script_filters', '1_{{ script_filters_sort }}', '/scripts', 30)">&#9658; {% if script_filters_sort == "popularity" %}{% trans "Filters by popularity" %}{% else %}{% trans "Filters by name" %}{% endif %}</a>
    &nbsp; ({% if script_filters_sort == "popularity" %}<a href="{% url 'scripts' %}" onclick="set_cookie('script_filters', '1_name', '/scripts', 30)">{% trans "sort filters by name" %}</a>{% else %}<a href="{% url 'scripts' %}" onclick="set_cookie('script_filters', '1_popularity', '/scripts', 30)">{% trans "sort filters by popularity" %}</a>{% endif %})
  </div>
  <div id="script_filters_1" class="p-2" style="{% if not script_filters_displayed %}display: none{% endif %}">
    <a href="#" onclick="toggle('script_filters_1', 'none'); toggle('script_filters_0', 'block'); set_cookie('script_filters', '0_{{ script_filters_sort }}', '/scripts', 30)">&#9660; {% if script_filters_sort == "popularity" %}{% trans "Filters by popularity" %}{% else %}{% trans "Filters by name" %}{% endif %}</a>
    &nbsp; ({% if script_filters_sort == "popularity" %}<a href="{% url 'scripts' %}" onclick="set_cookie('script_filters', '1_name', '/scripts', 30)">{% trans "sort filters by name" %}</a>{% else %}<a href="{% url 'scripts' %}" onclick="set_cookie('script_filters', '1_popularity', '/scripts', 30)">{% trans "sort filters by popularity" %}</a>{% endif %})
    <div class="ms-4">
      {% if languages %}
      {% trans "Language:" %}
      {% for language in languages %}
      <a href="{% url 'scripts_filter' 'language' language.0 %}" title="{% trans "Language:" %} {{ language.0.capitalize }}">{{ language.0.capitalize }}<small>&nbsp;({{ language.1 }})</small></a>{% if not forloop.last %}&nbsp;&middot;{% endif %}
      {% endfor %}
      {% endif %}
    </div>
    <div class="ms-4">
      {% if licenses %}
      {% trans "License:" %}
      {% for license in licenses %}
      <a href="{% url 'scripts_filter' 'license' license.0 %}" title="{% trans "License:" %} {{ license.0 }}">{{ license.0 }}<small>&nbsp;({{ license.1 }})</small></a>{% if not forloop.last %}&nbsp;&middot;{% endif %}
      {% endfor %}
      {% endif %}
    </div>
    <div class="ms-4">
      {% if tags %}
      {% trans "Tag:" %}
      {% for tag in tags %}
      <a href="{% url 'scripts_filter' 'tag' tag.0 %}" title="{% trans "Tag:" %} {{ tag.0 }}">{{ tag.0 }}<small>&nbsp;({{ tag.1 }})</small></a>{% if not forloop.last %}&nbsp;&middot;{% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>
          {% if sort_key == "name" %}
          <a href="{% url 'scripts' %}">{% trans "Name" %}&nbsp;↑</a>
          {% else %}
          <a href="{% url 'scripts_sort' 'name' %}">{% trans "Name" %}</a>
          {% endif %}
          /
          {% if sort_key == "language" %}
          <a href="{% url 'scripts' %}">{% trans "Language" context "programming language" %}&nbsp;↑</a>
          {% else %}
          <a href="{% url 'scripts_sort' 'language' %}">{% trans "Language" context "programming language" %}</a>
          {% endif %}
        </th>
        <th>{% trans "Description" %}</th>
        <th class="text-center"><abbr title="{% trans "Version" %}">V.</abbr></th>
        <th class="text-center">
          {% if sort_key == "license" %}
          <a href="{% url 'scripts' %}">{% trans "License" %}&nbsp;↑</a>
          {% else %}
          <a href="{% url 'scripts_sort' 'license' %}">{% trans "License" %}</a>
          {% endif %}
        </th>
        <th class="text-center">
          {% if sort_key == "min_weechat" %}
          <a href="{% url 'scripts' %}">{% trans "Min" %}&nbsp;↓</a>
          {% else %}
          <a href="{% url 'scripts_sort' 'min_weechat' %}">{% trans "Min" %}</a>
          {% endif %}
        </th>
        <th class="text-center">
          {% if sort_key == "max_weechat" %}
          <a href="{% url 'scripts' %}">{% trans "Max" %}&nbsp;↓</a>
          {% else %}
          <a href="{% url 'scripts_sort' 'max_weechat' %}">{% trans "Max" %}</a>
          {% endif %}
        </th>
        <th class="text-center">
          {% if sort_key == "author" %}
          <a href="{% url 'scripts' %}">{% trans "Author" %}&nbsp;↑</a>
          {% else %}
          <a href="{% url 'scripts_sort' 'author' %}">{% trans "Author" %}</a>
          {% endif %}
        </th>
        <th class="text-center">
          {% if sort_key == "added" %}
          <a href="{% url 'scripts' %}">{% trans "Added" %}&nbsp;↓</a>
          {% else %}
          <a href="{% url 'scripts_sort' 'added' %}">{% trans "Added" %}</a>
          {% endif %}
        </th>
        <th class="text-center">
          {% if sort_key == "updated" %}
          <a href="{% url 'scripts' %}">{% trans "Updated" %}&nbsp;↓</a>
          {% else %}
          <a href="{% url 'scripts_sort' 'updated' %}">{% trans "Updated" %}</a>
          {% endif %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for script in script_list %}
      <tr{% if script.disabled %} class="script-disabled"{% endif %}>
        <td class="text-nowrap">
          <span class="me-1 script-popular">{{ script.popularity_img }}</span><a href="{% url 'scripts_source_name_html' script.name_with_extension %}">{{ script.name }}<small>.{{ script.extension }}</small></a>
        </td>
        <td>
          <div class="ms-3 float-end text-muted">
            [{% for tag in script.tagslist %}<a href="{% url 'scripts_filter' 'tag' tag %}" title="{% trans "Tag:" %} {{ tag }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}]
          </div>
          {{ script.desc_i18n }}
          {% if script.requirements %}
          <small class="text-muted"> ({% trans "requires" %}: {{ script.requirements }})</small>
          {% endif %}
          {% if script.disabled %}
          <br>
          {% with reason=script.disabled_i18n %}
          <strong>{% blocktrans %}⚠ Script disabled ({{ reason }}).{% endblocktrans %}</strong>
          {% endwith %}
          {% endif %}
        </td>
        <td class="text-center">{{ script.version }}</td>
        <td class="text-center"><a href="{% url 'scripts_filter' 'license' script.license %}" title="{% trans "License:" %} {{ script.license }}">{{ script.license }}</a></td>
        <td class="text-center">{{ script.min_weechat }}</td>
        <td class="text-center">{{ script.max_weechat }}</td>
        <td class="text-center"><a href="{% url 'scripts_filter' 'author' script.author %}" title="{% trans "Author:" %} {{ script.author }}">{{ script.author }}</a></td>
        <td class="text-center text-nowrap">{% if script.added %}{{ script.added|date:"Y-m-d" }}{% endif %}</td>
        <td class="text-center text-nowrap">{% if script.updated %}{% if script.added != script.updated %}{{ script.updated|date:"Y-m-d" }}{% endif %}{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}

<div class="alert alert-success">
  {% trans "No script found." %}
</div>

{% endif %}

{% endblock content %}
