{% extends "scripts/scripts.html" %}

{% load i18n %}{% load humanize %}{% load localdate %}

{% block menu2_python3 %}active{% endblock %}

{% block content %}

{{ block.super }}

<h3>{% trans "Why a transition to Python 3?" %}</h3>

<p>
  {% trans "Python 2.x is legacy; it has an end-of-life set for 2020." %}
  <br>
  {% blocktrans with date=python3_date|localdate date_ago=python3_date|naturaltime %}Python 3.x is the present and future of the language. Version 3.0 was released on {{ date }} ({{ date_ago }}).{% endblocktrans %}
</p>

<p>
  {% trans "Python 3 has many new exciting features, for example:" %}
  <ul>
    <li>{% trans "unicode by default" %}</li>
    <li>asyncio</li>
    <li>f-strings</li>
    <li>{% trans "function annotations" %}</li>
    <li>{% blocktrans %}"breakpoint" function{% endblocktrans %}</li>
    <li>…</li>
  </ul>
</p>

<h3>{% trans "Support of Python 3 in WeeChat" %}</h3>

<p>
  {% blocktrans with date=v037_date|localdate date_ago=v037_date|naturaltime %}WeeChat supports Python 3 since version 0.3.7, which was released on {{ date }} ({{ date_ago }}).{% endblocktrans %}
</p>

<p>
  {% trans "The support of Python 3 is optional: the WeeChat python plugin can be compiled with Python 2.7 or Python 3.x, but not both at same time." %}
  <br>
  {% blocktrans with date=roadmap_start|localdate %}As of {{ date }}, it is recommended to compile with Python 2.7 because many scripts won't work at all with Python 3.x, while all scripts should run fine with Python 2.7.{% endblocktrans %}
</p>

<p>
  {% trans "To compile with Python 3.x support and enable quick switch between Python 2.7 and 3.x, see:" %}
  <a class="js-scroll" href="#compilation">{% trans "Compile and test with Python 2.7 and 3.x" %}</a>
</p>

<h3>{% trans "Transition roadmap" %}</h3>

<p>
  {% trans "Here is the roadmap for the transition to Python 3 in WeeChat:" %}
  <dl class="row">
    <dt class="col-12">
      {{ roadmap_start|localdate }}
    </dt>
    <dd class="col-12 ml-sm-4 py-2">
      {% trans "Transition to Python 3 starts." %}
      <br>
      {% trans "All scripts that are not yet compatible with both Python 2.7 and Python 3.x can be updated to support both versions (see the status below)." %}
      <br>
      {% trans "You can help by converting existing scripts (see how to help below)." %}
    </dd>
    <dt class="col-12">
      {{ roadmap_email|localdate }}
    </dt>
    <dd class="col-12 ml-sm-4 py-2">
      {% trans "An e-mail is sent to the authors of Python scripts which are not compatible with Python 3 (at least they are not marked as compatible in database)." %}
      <br>
      {% trans "All authors are encouraged to make their scripts compatible with Python 3.x as soon as possible. Help from other people is welcome as well." %}
    </dd>
    <dt class="col-12">
      {{ roadmap_new_py3|localdate }}
    </dt>
    <dd class="col-12 ml-sm-4 py-2">
      {% trans "All new scripts must be compatible with both Python 2.7 and Python 3.x." %}
      <br>
      {% trans "Script updates are still allowed to be compatible with Python 2.7 only." %}
    </dd>
    <dt class="col-12">
      {{ roadmap_all_py3|localdate }}
    </dt>
    <dd class="col-12 ml-sm-4 py-2">
      {% trans "All new scripts as well as script updates must be compatible with both Python 2.7 and Python 3.x." %}
      <br>
      {% trans "Scripts must be properly tested with Python 2.7 and a Python 3.x version (if possible the latest stable)." %}
    </dd>
    <dt class="col-12">
      {{ roadmap_weechat_py3|localdate }}
    </dt>
    <dd class="col-12 ml-sm-4 py-2">
      {% trans "New versions of WeeChat are compiled with Python 3 by default, which becomes the recommended Python version to use in WeeChat." %}
      <br>
      {% trans "All new scripts as well as script updates must still be compatible with Python 2.7 and Python 3.x, time for the users to upgrade to the latest version of WeeChat which is Python 3 only." %}
      <br>
      {% trans "Unfortunately, at this date, only 42% of Python scripts (96 out of 226) are compatible with Python 3. Compiling by default with Python 3 should speed up the update of scripts." %}
    </dd>
    <dt class="col-12">
      {{ roadmap_initial_end|localdate }}
    </dt>
    <dd class="col-12 ml-sm-4 py-2">
      {% trans "It is the initial end date for the transition." %}
      <br>
      {% trans "Unfortunately, at this date, only 46% of Python scripts (103 out of 228) are compatible with Python 3. The end of transition is postponed (see below)." %}
    </dd>
    <dt class="col-12">
      {{ roadmap_end|localdate }}
    </dt>
    <dd class="col-12 ml-sm-4 py-2">
      {% trans "All new scripts as well as script updates must be compatible with Python 3.x. Extra support of Python 2.x is optional." %}
      <br>
      {% trans "Hopefully, at this date, all scripts should be compatible with Python 3." %}
      <br>
      {% blocktrans %}<strong>Important</strong>: at this date, all scripts that are not compatible with Python 3 are disabled: still visible on the scripts list page, but marked as "disabled" and these scripts can not be installed in WeeChat.{% endblocktrans %}
    </dd>
  </dl>
</p>

<h3>{% trans "Transition status" %}</h3>

<p>
  {% blocktrans %}The scripts which are compatible with Python 3 have tag "py3"</a>.{% endblocktrans %}
  <br>
  {% trans "Transition status at various dates:" %}

  <div class="table-responsive col-lg-10 col-xl-8 px-0">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Scripts" %}</th>
          <th>{% trans "Python scripts" %}</th>
          <th>
            {% comment %}Translators: use plural form for "compatible", if needed{% endcomment %}
            {% trans "Compatible with Python 3" %}
          </th>
          <th>
            {% comment %}Translators: use plural form for "compatible", if needed{% endcomment %}
            {% trans "Not yet compatible" %}
          </th>
          <th>{% trans "Notes" %}</td>
        </tr>
      </thead>
      <tbody>
        {% for status in status_list %}
        <tr class="{% if status.today %}table-info fw-bold{% endif %}{% if status.future %}text-muted{% endif %}">
          <td class="text-nowrap">
            {{ status.date|localdate }}
            {% if status.today %}<span class="fw-normal">({% trans "today" %})</span>{% endif %}
          </td>
          <td class="text-nowrap">
            {{ status.scripts }}
            {% if status.future %} <sup>*</sup>{% endif %}
            {% if status.today %}
            &nbsp;
            <span class="text-muted fw-normal">
              [ <a href="{% url 'scripts' %}">{% trans "list" %}</a> ]
            </span>
            {% endif %}
          </td>
          <td class="text-nowrap">
            {{ status.python_scripts }} ({{ status.python_scripts_percent }}%)
            {% if status.future %} <sup>*</sup>{% endif %}
            {% if status.today %}
            &nbsp;
            <span class="text-muted fw-normal">
              [ <a href="{% url 'scripts_filter' filter_name='language' filter_value='python' %}">{% trans "list" %}</a> ]
            </span>
            {% endif %}
          </td>
          <td class="text-nowrap">
            <span class="text-success">
              {{ status.scripts_ok }} ({{ status.scripts_ok_percent }}%)
              {% if status.future %} <sup>*</sup>{% endif %}
            </span>
            {% if status.today %}
            &nbsp;
            <span class="text-muted fw-normal">
              [ <a href="{% url 'scripts_filter' filter_name='language' filter_value='python3-compatible' %}">{% trans "list" %}</a> ]
            </span>
            {% endif %}
          </td>
          <td class="text-nowrap">
            <span class="text-danger">
              {{ status.scripts_remaining }} ({{ status.scripts_remaining_percent }}%)
              {% if status.future %} <sup>*</sup>{% endif %}
            </span>
            {% if status.today %}
            &nbsp;
            <span class="text-muted fw-normal">
              [ <a href="{% url 'scripts_filter' filter_name='language' filter_value='python2-only' %}">{% trans "list" %}</a> ]
            </span>
            {% endif %}
          </td>
          <td class="text-nowrap">{% if status.future %}<sup>*</sup> {% trans "Estimates" %}{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</p>

<h3>{% trans "How to help" %}</h3>

<p>
  {% trans "If possible, the author of script should make the necessary changes to make the script compatible with both Python 2.7 and 3.x." %}
</p>

<p>
  {% trans "Here's a list of some resources that can help to port scripts to Python 3:" %}

  <ul>
    <li>
      <a href="https://docs.python.org/3/howto/pyporting.html" target="_blank" rel="noopener">
        https://docs.python.org/3/howto/pyporting.html
        <img src="{{ MEDIA_URL }}images/link.png" alt="&gt;&gt;">
      </a>
    </li>
    <li>
      <a href="https://python-future.org/compatible_idioms.html" target="_blank" rel="noopener">
        https://python-future.org/compatible_idioms.html
        <img src="{{ MEDIA_URL }}images/link.png" alt="&gt;&gt;">
      </a>
    </li>
  </ul>
</p>

<h3 id="compilation">{% trans "Compile and test with Python 2.7 and 3.x" %}</h3>

<p>
  {% trans "You can not use Python 2.7 and 3.x at same time in WeeChat, but you could compile both versions of the Python plugin and switch the Python plugin with aliases." %}
<p>

<p>
  {% trans "First check that you have both Python 2.7 and 3.x libraries installed to compile WeeChat with both versions." %}
</p>

<p>
  {% trans "Compile WeeChat with Python 3.x and install it in home directory. From the cloned git repository:" %}
  <pre><code>$ mkdir build
$ cd build
$ cmake .. -DCMAKE_INSTALL_PREFIX=$HOME/dev/weechat -DENABLE_PYTHON3=ON
$ make install
$ mv ~/dev/weechat/lib/weechat/plugins/python.so ~/dev/weechat/python3.so
$ rm -f CMakeCache.txt
$ cmake .. -DCMAKE_INSTALL_PREFIX=$HOME/dev/weechat -DENABLE_PYTHON3=OFF
$ make install</code></pre>
</p>

<p>
  {% trans "Run WeeChat:" %}
  <pre><code>$ ~/dev/weechat/bin/weechat</code></pre>
</p>

<p>
  {% trans "Check that Python version is 2.7:" %}
  <pre><code>/debug libs

Libs:
(…)
  python: 2.7.16rc1</code></pre>
</p>

<p>
  {% trans "Add aliases to quickly switch between Python 2.7 and 3.x:" %}
  <pre><code>/alias add py2 /plugin unload python; /plugin load python
/alias add py3 /plugin unload python; /plugin load ~/dev/weechat/python3.so</code></pre>
</p>

<p>
  {% trans "Now you can type /py2 or /py3 to switch the Python version." %}
  <br>
  {% trans "Note: this unloads all scripts because the Python plugin is reloaded." %}
</p>

<p>
  {% trans "To switch to Python 3.x:" %}
  <pre><code>/py3</code></pre>
</p>

<p>
  {% trans "Check that Python version is 3.x:" %}
  <pre><code>/debug libs

Libs:
(…)
  python: 3.7.2+</code></pre>
</p>

{% endblock content %}
