{% extends "base.html" %}

{% load i18n %}

{% block title %}WeeChat :: {% trans "scripts" %}{% endblock %}
{% block css %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/scripts.css" media="screen" title="Normal">{% endblock %}
{% block menu %}scripts{% endblock %}

{% block content %}

<div class="navbt">
  <ul>
    <li><a href="{% url 'scripts' %}" class="{% block menu2_list %}{% endblock %}">{% trans "Scripts" %}</a></li>
    <li><a href="{% url 'scripts_add' %}" class="{% block menu2_add %}{% endblock %}">{% trans "Add script" %}</a></li>
    <li><a href="{% url 'scripts_update' %}" class="{% block menu2_update %}{% endblock %}">{% trans "Update script" %}</a></li>
    <li><a href="{% url 'scripts_pending' %}" class="{% block menu2_pending %}{% endblock %}">{% trans "Pending scripts" %}</a></li>
    <li><a href="/files/scripts/unofficial/" class="{% block menu2_unofficial %}{% endblock %}">{% trans "Unofficial scripts" %}</a></li>
  </ul>
</div>

{% endblock content %}
