{% extends "scripts/scripts.html" %}

{% load i18n %}

{% block css %}
{{ block.super }}
  {% if theme == 'auto' %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments_dark.css" media="(prefers-color-scheme: dark)">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments_light.css" media="(not (prefers-color-scheme: dark)), (prefers-color-scheme: light)">
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments_{{ theme }}.css" media="screen">
  {% endif %}
{% endblock %}

{% block menu2_list %}active{% endblock %}

{% block content %}

{{ block.super }}

<h3>{% trans "Script" %}: {{ script.name_with_extension }}</h3>

{% if script.disabled %}
<div class="alert alert-warning">
  {% with reason=script.disabled_i18n %}
  {% blocktrans %}<strong>WARNING:</strong> this script has been disabled ({{ reason }}).{% endblocktrans %}
  {% endwith %}
</div>
{% endif %}

<p>
  <strong>{{ script.desc_i18n }}</strong>
  <br>
  {% trans "Author:" %} {{ script.author }}
  — {% trans "Version:" %} {{ script.version }}
  — {% trans "License:" %} {{ script.license }}
  <br>
  {% trans "For WeeChat" %} {{ script.version_weechat_html }}{% if script.requirements %}, {% trans "requires:" %} {{ script.requirements }}{% endif %}.
  <br>
  {% trans "Tags:" %} {{ script.tagslist|join:", " }}
  <br>
  {% trans "Added:" %} {% if script.added %}{{ script.added|date:"Y-m-d" }}{% endif %}
  {% if script.updated and script.added != script.updated %}— {% trans "Updated:" %} {{ script.updated|date:"Y-m-d" }}{% endif %}
  <br>
  <div class="source">
    <a href="{{ script.build_url }}" class="btn btn-primary my-3 me-3 px-2 px-lg-4" download>
      {% include "svg/download.html" %} {% trans "Download" %}
    </a>
    <a href="{{ script.build_url_repo }}" class="btn btn-secondary my-3 me-3 px-2 px-lg-4">
      {% include "svg/github.html" %} {% trans "Repository" %}
    </a>
  </div>
</p>

<p>
  {{ html_source }}
</p>

{% endblock content %}
