{% extends "scripts/scripts.html" %}

{% load i18n %}

{% block css %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/pygments.css" media="screen" title="Normal">{% endblock %}
{% block menu2_list %}active{% endblock %}

{% block content %}

{{ block.super }}

<h3>{% trans "Script" %}: {{ script.name_with_extension }}</h3>

{% if script.disabled %}
<div class="alert alert-warning">
  {% with reason=script.disabled_i18n %}
  {% blocktrans %}<strong>WARNING:</strong> this script has been disabled ({{ reason }}).{% endblocktrans %}
  {% endwith %}
</div>
{% endif %}

<p>
  <strong>{{ script.desc_i18n }}</strong>
  <br>
  {% trans "Author:" %} {{ script.author }}
  &mdash; {% trans "Version:" %} {{ script.version }}
  &mdash; {% trans "License:" %} {{ script.license }}
  <br>
  {% trans "For WeeChat" %} {{ script.version_weechat_html|safe }}{% if script.requirements %}, {% trans "requires:" %} {{ script.requirements }}{% endif %}.
  <br>
  {% trans "Added:" %} {% if script.added %}{{ script.added|date:"Y-m-d" }}{% endif %}
  {% if script.updated and script.added != script.updated %}&mdash; {% trans "Updated:" %} {{ script.updated|date:"Y-m-d" }}{% endif %}
  <br>
  <a href="{{ script.build_url }}" class="btn btn-success my-3" download>{% trans "Download" %}</a>
</p>

<p>
  {{ htmlsource|safe }}
</p>

{% endblock content %}
