{% extends "base.html" %}

{% load i18n %}

{% block title %}WeeChat :: {% trans "dev" %}{% endblock %}
{% block css %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/dev.css" media="screen" title="Normal" />{% endblock %}
{% block menu %}dev{% endblock %}

{% block content %}

<div class="navbt">
  <ul>
    <li><a href="/dev/roadmap/" class="{% block menu2_roadmap %}{% endblock %}">{% trans "Roadmap" %}</a></li>
    <li><a href="/dev/stats/" class="{% block menu2_stats %}{% endblock %}">{% trans "Stats" %}</a></li>
    <li><a href="/dev/info/" class="{% block menu2_info %}{% endblock %}">{% trans "Info" %}</a></li>
    <li><a href="/dev/support/" class="{% block menu2_support %}{% endblock %}">{% trans "Support" %}</a></li>
  </ul>
</div>

{% endblock content %}
