{% extends "dev/dev.html" %}

{% load i18n %}

{% block subtitle %} :: {% trans "info" %}{% endblock %}
{% block menu2_info %}active{% endblock %}

{% block content %}

{{ block.super }}

{% if infos %}

<p>
  {% trans "Following infos are available (click on info for the URL):" %}
</p>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Info" %}</th>
        <th>{% trans "Current value" %}</th>
        <th>{% trans "Description" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for info in infos %}
    <tr>
      <td><a href="{% url 'dev_info_name' info.0 %}" target="_blank" rel="noopener">{{ info.0 }}</a></td>
      <td>{{ info.1|linebreaksbr }}</td>
      <td>{{ info.2 }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<p>
  {% trans "You can fetch these URLs from scripts or other sites." %}
</p>

{% else %}

<div class="alert alert-success">
  {% trans "No info." %}
</div>

{% endif %}

{% endblock content %}
