{% extends "dev/dev.html" %}

{% load i18n %}

{% block subtitle %} :: {% trans "roadmap" %}{% endblock %}
{% block menu2_roadmap %}active{% endblock %}

{% block content %}

{{ block.super }}

<ul class="nav nav-tabs mt-4">
  <li class="nav-item"><a class="nav-link{% if not allversions %} active{% endif %}" href="{% url 'dev_roadmap' %}">{% trans "Next versions" %}</a></li>
  <li class="nav-item"><a class="nav-link{% if allversions %} active{% endif %}" href="{% url 'dev_roadmap_all' %}">{% trans "All versions" %}</a></li>
</ul>

<p>
  {% trans "This page lists major features done or planned." %}
  <br>
  {% trans "Dive in the <strong>future</strong> of WeeChat!" %}
</p>

<br>

{% if task_list %}

{% regroup task_list by version as task_list_by_version %}
{% for tasks_version in task_list_by_version %}
<h3>
  Version {{ tasks_version.grouper }}
  <small class="ml-2 text-muted">({% autoescape off %}{{ tasks_version.list.0.version_date }}{% endautoescape %})</small>
</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Tracker" %}</th>
        <th class="text-center">{% trans "Status" %}</th>
        <th class="text-center">Git</th>
        <th class="text-center">{% trans "Plugin" %}</th>
        <th>{% trans "Description" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks_version.list %}
      <tr>
        <td class="text-nowrap" style="width: 8rem;">
          {% autoescape off %}
          {{ task.url_tracker }}
          {% endautoescape %}
        </td>
        <td class="text-center text-nowrap" style="width: 10rem;">
          <strong>
          {% if task.status == 0 %}
          <span class="text-danger">{% trans "Planned" %}</span>
          {% else %}
          {% if task.status == 100 %}
          <span class="text-success">{% trans "Done" %}</span>
          {% else %}
          {% comment %}Translators: "Done" is followed by the % of task which is implemented, for example: "Done: 75%"{% endcomment %}
          <div class="progress" style="height: 20px; background-color: #e7e7e7;" title="{% trans "Done:" %} {{ task.status }}%">
            {% if task.status != 0 %}
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ task.status }}%" aria-valuenow="{{ task.status }}" aria-valuemin="0" aria-valuemax="100"></div>
            {% endif %}
            {% if task.status_remaining != 0 %}
            <div class="progress-bar" style="" role="progressbar" style="width: {{ task.status_remaining }}%" aria-valuenow="{{ task.status_remaining }}" aria-valuemin="0" aria-valuemax="100"></div>
            {% endif %}
          </div>
          {% endif %}
          {% endif %}
          </strong>
        </td>
        <td class="text-center text-nowrap" style="width: 6rem";>
          {% autoescape off %}
          {{ task.url_commits }}
          {% endautoescape %}
        </td>
        <td class="text-center text-nowrap" style="width: 10rem;">
          {{ task.component }}
        </td>
        <td>
          {{ task.description }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

{% endif %}

{% endblock content %}
