{% extends "dev/dev.html" %}

{% load i18n %}{% load localdate %}

{% block subtitle %} :: {% trans "roadmap" %}{% endblock %}
{% block menu2_roadmap %}selected{% endblock %}

{% block content %}

{{ block.super }}

<div class="roadmap">

  <div class="legend">
    {% trans "Legend:" %}
    <br /><img src="{{ MEDIA_URL }}images/link.png" width="14" height="14" alt="*" /> = {% trans "one commit in 'master'" %}
    <br /><img src="{{ MEDIA_URL }}images/link_twin.png" width="14" height="14" alt="*" /> = {% trans "log of a separate branch" %}
  </div>

  <div class="navbt" style="border-bottom: none">
    <ul>
      <li><a href="/dev/roadmap/"{% if not allversions %} class="selected"{% endif %}>{% trans "Next versions" %}</a></li>
      <li><a href="/dev/roadmap/all/"{% if allversions %} class="selected"{% endif %}>{% trans "All versions" %}</a></li>
    </ul>
  </div>

  <p>
    {% trans "This page lists major features done or planned." %}
    {% trans "Dive in the <strong>future</strong> of WeeChat!" %}
  </p>

  {% if task_list %}

  {% regroup task_list by version as task_list_by_version %}
  {% for tasks_version in task_list_by_version %}
  <h2>
    Version {{ tasks_version.grouper }}
    <span class="date">({% autoescape off %}{{ tasks_version.list.0.version_date }}{% endautoescape %})</span>
  </h2>
  <table class="table">
    <tr>
      <th class="tracker">{% trans "Tracker" %}</th>
      <th class="status">{% trans "Status" %}</th>
      <th class="git">Git</th>
      <th class="plugin">{% trans "Plugin" %}</th>
      <th class="desc">{% trans "Description" %}</th>
    </tr>
    {% for task in tasks_version.list %}
    <tr class="{% cycle 'row1' 'row2' %}">
      <td class="tracker">
        {% autoescape off %}
          {{ task.url_tracker }}
        {% endautoescape %}
      </td>
      <td class="status">
        {% ifequal task.status 0 %}
          <span class="planned">{% trans "Planned" %}</span>
        {% else %}
        {% ifequal task.status 100 %}
          <span class="done">{% trans "Done" %}</span>
        {% else %}
        <table class="bar" title="{{ task.status }}%">
          <tr>
          {% ifnotequal task.status 0 %}
            <td class="done" style="width: {{ task.status }}%">&nbsp;</td>
          {% endifnotequal %}
          {% ifnotequal task.status_remaining 0 %}
            <td style="width: {{ task.status_remaining }}%">&nbsp;</td>
          {% endifnotequal %}
          </tr>
        </table>
        {% endifequal %}
        {% endifequal %}
      </td>
      <td class="git">
        {% autoescape off %}
        {{ task.url_commits }}
        {% endautoescape %}
      </td>
      <td class="plugin">
        {{ task.component }}
      </td>
      <td class="desc">
        {{ task.description }}
      </td>
    </tr>
    {% endfor %}
    </table>
  {% endfor %}

  {% endif %}

</div>

{% endblock content %}
