{% extends "dev/dev.html" %}

{% load i18n %}

{% block subtitle %} :: {% trans "statistics" %}{% endblock %}
{% block menu2_stats %}active{% endblock %}

{% block content %}

{{ block.super }}

<ul class="nav nav-tabs mt-4">
  <li class="nav-item"><a class="nav-link{% if stats == "weechat" %} active{% endif %}" href="{% url 'dev_stats_git' 'weechat' %}">WeeChat</a></li>
  <li class="nav-item"><a class="nav-link{% if stats == "weechat-relay" %} active{% endif %}" href="{% url 'dev_stats_git' 'weechat-relay' %}">WeeChat Relay</a></li>
  <li class="nav-item"><a class="nav-link{% if stats == "scripts" %} active{% endif %}" href="{% url 'dev_stats_git' 'scripts' %}">{% trans "Scripts" %}</a></li>
  <li class="nav-item"><a class="nav-link{% if stats == "qweechat" %} active{% endif %}" href="{% url 'dev_stats_git' 'qweechat' %}">QWeeChat</a></li>
  <li class="nav-item"><a class="nav-link{% if stats == "weechat.org" %} active{% endif %}" href="{% url 'dev_stats_git' 'weechat.org' %}">WeeChat.org</a></li>
</ul>

{% trans "Git repository:" %}
<a href="{{ repository }}" target="_blank" rel="noopener">{{ repository }} <sup>↗</sup></a>
<br><br>

{% if sloc %}
<strong>{{ sloc }}</strong> {% trans "lines of code" %} ({{ sloc_lang }}).
<br><br>
{% endif %}

{% trans "Commits by range:" %}
{% trans "month:" %} <strong>{{ git_commits_last_month }}</strong>,
{% trans "year:" %} <strong>{{ git_commits_last_year }}</strong>,
{% trans "total:" %} <strong>{{ git_commits_total }}</strong>.

{% for svg in svg_list %}
<!-- dark -->
<div class="dev-stats-dark">
  <div class="svg my-2">
    <object type="image/svg+xml" data="{{ MEDIA_URL }}images/stats/dark/{{ stats }}_{{ svg }}.svg">{{ svg }}.svg</object>
    <div class="text-center">
      <a href="{{ MEDIA_URL }}images/stats/dark/{{ stats }}_{{ svg }}.svg" target="_blank" rel="noopener">SVG <sup>↗</sup></a>
    </div>
  </div>
  <hr>
</div>
<!-- light -->
<div class="dev-stats-light">
  <div class="svg my-2">
    <object type="image/svg+xml" data="{{ MEDIA_URL }}images/stats/light/{{ stats }}_{{ svg }}.svg">{{ svg }}.svg</object>
    <div class="text-center">
      <a href="{{ MEDIA_URL }}images/stats/light/{{ stats }}_{{ svg }}.svg" target="_blank" rel="noopener">SVG <sup>↗</sup></a>
    </div>
  </div>
  <hr>
</div>
{% endfor %}

{% if stats == "scripts" %}
<pre>{{ scripts_downloads }}</pre>
{% endif %}

{% trans "Charts built with" %}
<a href="https://github.com/flashcode/gitchart" target="_blank" rel="noopener">gitchart <sup>↗</sup></a>.

{% endblock content %}
