{% extends "dev/dev.html" %}

{% load i18n %}{% load txt2html %}

{% block subtitle %} :: {% trans "support" %}{% endblock %}
{% block menu2_support %}selected{% endblock %}

{% block content %}

{{ block.super }}

<div class="warningbox">
{% url 'doc' as doc_url %}
{% url 'faq' as faq_url %}
{% blocktrans %}<strong>Warning:</strong> before asking for help, please read carefully <a href="{{ doc_url }}">documentation</a> and <a href="{{ faq_url }}">FAQ</a>.{% endblocktrans %}
</div>

<h2>IRC</h2>

{% trans "On server chat.freenode.net:" %}

<ul>
  <li>
    {% trans "official channels (with developers):" %}
    <ul>
      <li><strong><a href="irc://chat.freenode.net/weechat">#weechat</a></strong> ({% trans "English" %})</li>
      <li><strong><a href="irc://chat.freenode.net/weechat-fr">#weechat-fr</a></strong> ({% trans "French" %})</li>
    </ul>
  </li>
  <li>
    {% trans "non-official channels:" %}
    <ul>
      <li><a href="irc://chat.freenode.net/weechat-de">#weechat-de</a> ({% trans "German" %})</li>
    </ul>
  </li>
</ul>

<h2>{% trans "Bugs / Feature requests" %}</h2>

{% trans "Bugs and feature requests for WeeChat, QWeeChat and scripts can be submitted on GitHub:" %}
<a href="https://github.com/weechat" target="_blank">https://github.com/weechat <img src="{{ MEDIA_URL }}images/link.png" width="16" height="16" alt=">>" /></a>

<h2>Google+</h2>

{% blocktrans %}WeeChat is on <a href="https://plus.google.com/">Google+</a>:{% endblocktrans %}

<ul>
  <li><a href="https://plus.google.com/+WeeChat" target="_blank">{% trans "Page" %} <img src="{{ MEDIA_URL }}images/link.png" width="16" height="16" alt=">>" /></a></li>
  <li><a href="https://plus.google.com/communities/104181302778416960107" target="_blank">{% trans "Community" %} <img src="{{ MEDIA_URL }}images/link.png" width="16" height="16" alt=">>" /></a></li>
</ul>

<h2>{% trans "Mailing list" %}</h2>

{% blocktrans %}There are <a href="https://savannah.nongnu.org/mail/?group=weechat" target="_blank">3 mailing lists <img src="{{ MEDIA_URL }}images/link.png" width="16" height="16" alt=">>" /></a>:{% endblocktrans %}

<ul>
  <li>
    {% trans "<strong>weechat-security</strong> (security advisories about WeeChat):" %}
    <ul>
      <li>{% trans "subscribe:" %} <a href="https://lists.nongnu.org/mailman/listinfo/weechat-security" target="_blank">https://lists.nongnu.org/mailman/listinfo/weechat-security <img src="{{ MEDIA_URL }}images/link.png" width="16" height="16" alt=">>" /></a></li>
      <li>{% trans "send mail to:" %} <a href="mailto:{% txt2html "weechat-security@nongnu.org" %}">{% txt2html "weechat-security@nongnu.org" %}</a></li>
    </ul>
  </li>
  <li>
    {% trans "<strong>weechat-support</strong> (installation, usage, bugs, ...):" %}
    <ul>
      <li>{% trans "subscribe:" %} <a href="https://lists.nongnu.org/mailman/listinfo/weechat-support" target="_blank">https://lists.nongnu.org/mailman/listinfo/weechat-support <img src="{{ MEDIA_URL }}images/link.png" width="16" height="16" alt=">>" /></a></li>
      <li>{% trans "send mail to:" %} <a href="mailto:{% txt2html "weechat-support@nongnu.org" %}">{% txt2html "weechat-support@nongnu.org" %}</a></li>
    </ul>
  </li>
  <li>
    {% trans "<strong>weechat-dev</strong> (everything related to the development):" %}
    <ul>
      <li>{% trans "subscribe:" %} <a href="https://lists.nongnu.org/mailman/listinfo/weechat-dev" target="_blank">https://lists.nongnu.org/mailman/listinfo/weechat-dev <img src="{{ MEDIA_URL }}images/link.png" width="16" height="16" alt=">>" /></a></li>
      <li>{% trans "send mail to:" %} <a href="mailto:{% txt2html "weechat-dev@nongnu.org" %}">{% txt2html "weechat-dev@nongnu.org" %}</a></li>
    </ul>
  </li>
</ul>

{% endblock content %}
