{% extends "download/download.html" %}

{% load i18n %}{% load localdate %}

{% block subtitle %} :: debian{% endblock %}
{% block menu2_debian %}selected{% endblock %}

{% block extrahead %}
<script>
var deb_apt_cmds = [
  "...<br>...",
{% for repo in repositories %}
{% if repo.visible %}
  "$ sudo bash -c \"echo '{{ repo.apt_url }}' >/etc/apt/sources.list.d/weechat.list\"" +
  "<br>" +
  "$ sudo bash -c \"echo '{{ repo.apt_url_src }}' >>/etc/apt/sources.list.d/weechat.list\"",
{% endif %}
{% endfor %}
]
</script>
{% endblock %}

{% block content %}

{{ block.super }}

<div class="navbt" style="border-bottom: none">
  <ul>
    <li><a href="{% url 'download_debian_active' active='active' %}"{% if active == "active" %} class="selected"{% endif %}>{% trans "Active repositories" %}</a></li>
    <li><a href="{% url 'download_debian_active' active='all'  %}"{% if active == "all" %} class="selected"{% endif %}>{% trans "All repositories" %}</a></li>
  </ul>
</div>

<div class="infobox">
  {% blocktrans %}<strong>Important:</strong> these packages are not Debian official packages; please <a href="#instructions"><strong>read instructions</strong></a> before using these repositories.{% endblocktrans %}
</div>

{% if debpkgs %}

<div class="debian_repos">

{% regroup debpkgs by repoarch as debpkgs_by_repoarch %}
{% for repoarch in debpkgs_by_repoarch %}
  <div class="debian distro_{% if repoarch.list.0.repo.active %}{{ repoarch.list.0.repo.name }}{% else %}discontinued{% endif %}">
    {% regroup repoarch.list|dictsortreversed:"builddatetime" by Source as debpkgs_by_source %}
    {% for debpkg_source in debpkgs_by_source %}
      {% if forloop.first %}
        <div class="repoinfo">
          {% if debpkg_source.list.0.repo.message %}
          <div class="message"><strong>{% trans "Important" %}:</strong> {{ debpkg_source.list.0.repo.message }}</div>
          {% endif %}
          <div class="sources" title="Line to add in /etc/apt/sources.list">
            {{ debpkg_source.list.0.repo.apt_url }}
          </div>
          <div class="builder">
            {% trans "Builds by" %} {{ debpkg_source.list.0.repo.builder.name }}
            <span class="nick">({{ debpkg_source.list.0.repo.builder.nick }})</span>
          </div>
          <div class="latestbuild">
            {% trans "Latest build:" %}
            <strong>
              {{ debpkg_source.list.0.builddate|localstrdate }}<span class="time">{{ debpkg_source.list.0.buildtime }}</span>
            </strong>
          </div>
        </div>
        <div
           {% if debpkg_source.list.0.repo.active %}
           class="name"
           {% else %}
           class="name discontinued" title="{% trans "There are no more package builds in this repository." %}"
           {% endif %}>
          {{ debpkg_source.list.0.repo.name|capfirst }}
          {% comment %}Translators: purpose is to "translate" only quotes here{% endcomment %}
          {% blocktrans with codename=debpkg_source.list.0.repo.version.codename %}“{{ codename }}”{% endblocktrans %}
          ({{ debpkg_source.list.0.repo.version.version }})
        </div>
        <table>
      {% endif %}
        {% regroup debpkg_source.list|dictsort:"arch" by arch as debpkgs_by_arch %}
        {% for debpkg_arch in debpkgs_by_arch %}
          <tr>
            <td>
              {{ debpkg_arch.list.0.Source }}
            </td>
            <td class="version{% if "dev" in debpkg_arch.list.0.Version %} version_dev{% endif %}">
              {{ debpkg_arch.list.0.Version }}
            </td>
            <td>
              <span title="{% trans "Architecture" %}">{{ debpkg_arch.list.0.arch }}</span>
            </td>
            <td>
              <a href="{% url 'download_debian_active' active=active %}{% if not allfiles %}files/#{{ debpkg_arch.list.0.anchor }}{% endif %}" id="{{ debpkg_arch.list.0.anchor }}">{{ debpkg_arch.list|length }} {% trans "files" %}</a>
            </td>
            <td class="date">
              ({{ debpkg_arch.list.0.builddate|localstrdate }}<span class="time">{{ debpkg_arch.list.0.buildtime }})</span>
            </td>
          </tr>
          {% if allfiles %}
          <tr>
            <td colspan="5" class="files">
              {% for debpkg in debpkg_arch.list|dictsort:"basename" %}
                <a href="{{ debpkg.repo.url }}/{{ debpkg.Filename }}">{{ debpkg.basename }}</a>
                <span class="size">({{ debpkg.size|filesizeformat }})</span>
                <br>
              {% endfor %}
            </td>
          </tr>
          <tr><td colspan="4">&nbsp;</td></tr>
          {% endif %}
        {% endfor %}
    {% endfor %}
    </table>
    <div class="end"></div>
  </div>
  {% endfor %}

</div>

<hr>

<h3 id="instructions">{% trans "Instructions:" %}</h3>
<div class="download">
  <div class="dlsign">
    <ul>
      <li>
        {% blocktrans %}You must use apt, apt-get or aptitude to install the packages (with sudo or as "root" user).{% endblocktrans %}
        <br>{% trans "The following examples use sudo and apt-get." %}
      </li>
      <li>
        {% trans "Install https transport for apt:" %}
        <kbd>$ sudo apt-get install apt-transport-https</kbd>
        {% blocktrans %}Otherwise you can replace "https://" by "http://" in URLs (less secure).{% endblocktrans %}
      </li>
      <li>
        {% trans "Import the gpg key used to sign the repository:" %}
        <kbd>$ sudo apt-key adv --keyserver ha.pool.sks-keyservers.net --recv-keys 11E9DE8848F2B65222AA75B8D1820DB22A11534E</kbd>
      </li>
      <li>
        {% trans "Create a weechat.list file with the repository, according to your distribution/version:" %}
        <select id="deb_apt"
                onchange="document.getElementById('deb_apt_cmd').innerHTML = deb_apt_cmds[document.getElementById('deb_apt').selectedIndex]">
          <option selected="selected">{% trans "Choose your distribution/version" %}</option>
          {% for repo in repositories %}
          {% if repo.visible %}
          <option>
            {{ repo.name|capfirst }}
            {% comment %}Translators: purpose is to "translate" only quotes here{% endcomment %}
            {% blocktrans with codename=repo.version.codename %}“{{ codename }}”{% endblocktrans %}
            ({{ repo.version.version }})
          </option>
          {% endif %}
          {% endfor %}
        </select>
        <kbd id="deb_apt_cmd">...<br>...</kbd>
        {% trans "Note: the second command line is optional, it is used to download source packages." %}
      </li>
      <li>
        {% trans "Resynchronize your package index files:" %}
        <kbd>$ sudo apt-get update</kbd>
      </li>
      <li>
        {% blocktrans %}Install the binary packages; the "plugins" package is highly recommended but not mandatory.{% endblocktrans %}
        <ul>
          <li>
            {% trans "For the stable version:" %}
            <kbd>$ sudo apt-get install weechat-curses weechat-plugins</kbd>
          </li>
          <li>
            {% trans "For the development version:" %}
            <kbd>$ sudo apt-get install weechat-devel-curses weechat-devel-plugins</kbd>
          </li>
        </ul>
      </li>
      <li>
        {% trans "If needed, you can download the source package in order to rebuild binary packages:" %}
        <kbd>$ apt-get source weechat-devel</kbd>
      </li>
    </ul>
  </div>
</div>

{% else %}

<div class="errorbox">
  {% trans "No debian repository." %}
</div>

{% endif %}

{% endblock content %}
