{% extends "download/download.html" %}

{% load i18n %}{% load humanize %}{% load localdate %}

{% block subtitle %} :: debian{% endblock %}
{% block menu2_debian %}active{% endblock %}

{% block extrahead %}
<script>
var deb_apt_cmds = [
  "…<br>…",
{% for repo in repositories %}
{% if repo.visible %}
  "$ echo \"{{ repo.apt_url }}\" | sudo tee /etc/apt/sources.list.d/weechat.list" +
  "<br>" +
  "$ echo \"{{ repo.apt_url_src }}\" | sudo tee -a /etc/apt/sources.list.d/weechat.list",
{% endif %}
{% endfor %}
]
</script>
{% endblock %}

{% block content %}

{{ block.super }}

<ul class="nav nav-tabs mt-4">
  <li class="nav-item"><a class="nav-link{% if active == "active" %} active{% endif %}" href="{% url 'download_debian_active' active='active' %}">{% trans "Active repositories" %}</a></li>
  <li class="nav-item"><a class="nav-link{% if active == "all" %} active{% endif %}" href="{% url 'download_debian_active' active='all'  %}">{% trans "All repositories" %}</a></li>
</ul>

{% if errors %}
<div class="alert alert-danger">
  {% trans "Error reading repositories:" %} {{ errors|join:", " }}
</div>
{% endif %}

<div class="alert alert-primary">
  {% trans "<strong>Important:</strong> these packages are not Debian official packages; please <strong>read instructions</strong> below before using these repositories." %}
</div>

<h3>{% trans "Installation instructions" %}</h3>

<p>
  {% blocktrans %}You must use apt, apt-get or aptitude to install the packages (with sudo or as "root" user).{% endblocktrans %}
  <br>{% trans "The following examples use sudo and apt-get." %}
</p>

<h4>{% trans "Required packages" %}</h4>

<p>
  {% trans "The following packages must be installed:" %}
  <pre><code>$ sudo apt-get install dirmngr gpg-agent apt-transport-https</code></pre>
</p>

<p>
  {% trans "Note: in some Linux distributions, the package gpg-agent is called gnupg-agent." %}
</p>

<h4>{% trans "GPG key" %}</h4>

<p>
  {% trans "Import the GPG key used to sign the repositories:" %}
  <pre><code>$ sudo apt-key adv --keyserver hkps://keys.openpgp.org --recv-keys 11E9DE8848F2B65222AA75B8D1820DB22A11534E</code></pre>
</p>

<p>
  {% trans "In case of problem, the GPG key can be downloaded here:" %}
  <a href="{% url 'dev_info_name' name='debian_repository_signing_key' %}">
    {% trans "Debian/Ubuntu repository signing key (format: PGP public key)." %}
  </a>
</p>

<h4>{% trans "APT configuration" %}</h4>

<p>
  <form class="row row-cols-lg-auto align-items-center">
    <div class="col-12">
      {% trans "Create a weechat.list file with the repository, according to your distribution/version:" %}
    </div>
    <div class="col-12">
      <select id="deb_apt" class="form-select form-select-sm ms-3"
              onchange="document.getElementById('deb_apt_cmd').innerHTML = deb_apt_cmds[document.getElementById('deb_apt').selectedIndex]">
        <option selected="selected">{% trans "Choose your distribution/version" %}</option>
        {% for repo in repositories %}
        {% if repo.visible %}
        <option>
          {{ repo.name|capfirst }}
          {% comment %}Translators: purpose is to "translate" only quotes here{% endcomment %}
          {% blocktrans with codename=repo.version.codename %}“{{ codename }}”{% endblocktrans %}
          ({{ repo.version.version }})
        </option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </form>
  <pre class="mt-1"><code id="deb_apt_cmd">…<br>…</code></pre>
</p>

<p>
  {% trans "Note: the second command line is optional, it is used to download source packages." %}
</p>

<p>
  {% trans "Resynchronize your package index files:" %}
  <pre><code>$ sudo apt-get update</code></pre>
</p>

<h4>{% trans "Packages installation" %}</h4>

<p>
  {% blocktrans %}Install the binary packages; the "plugins" package is highly recommended but not mandatory, scripting API packages are optional (popular languages are python and perl).{% endblocktrans %}
</p>

<p>
  {% trans "Example for the stable version:" %}
  <pre><code>$ sudo apt-get install weechat-curses weechat-plugins weechat-python weechat-perl</code></pre>
</p>

<p>
  {% trans "Example for the development version:" %}
  <pre><code>$ sudo apt-get install weechat-devel-curses weechat-devel-plugins weechat-devel-python weechat-devel-perl</code></pre>
</p>

<p>
  {% trans "If needed, you can download the source package in order to rebuild binary packages:" %}
  <pre><code>$ apt-get source weechat-devel</code></pre>
</p>

{% if debpkgs %}

<h3>{% trans "Overview" %}</h3>

<div class="row">
  {% regroup debpkgs by distro as debpkgs_by_distro %}
  {% for debpkg_distro in debpkgs_by_distro %}
  <div class="col-12 col-lg-6 col-xl-4">
    <div class="card mt-2 mb-4">
      <div class="card-header">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img src="{{ MEDIA_URL }}images/{{ debpkg_distro.grouper }}.png" class="me-2" alt="Logo">
          </div>
          <div class="flex-grow-1 ms-1">
            <h5 class="my-0">
              <strong>
                {{ debpkg_distro.grouper|capfirst }}
              </strong>
            </h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        {% regroup debpkg_distro.list by repoarch as debpkg_by_repoarch %}
        {% for debpkg_repoarch in debpkg_by_repoarch %}
        <div class="row py-1"{% if not forloop.last %} style="border-bottom: solid 1px #eee;"{% endif %}>
          <div class="col-5">
            <span class="{% if not debpkg_repoarch.list.0.repo.active %}discontinued{% endif %}">
              <a class="js-scroll" href="#{{ debpkg_repoarch.grouper }}">
                {{ debpkg_repoarch.list.0.repo.version.codename }}
                <small class="text-muted">({{ debpkg_repoarch.list.0.repo.version.version }})</small>
              </a>
            </span>
          </div>
          <div class="col-7{% if not debpkg_repoarch.list.0.repo.active %} discontinued{% endif %}">
            {% regroup debpkg_repoarch.list|dictsortreversed:"version_type" by Version as debpkg_by_version %}
            {% for debpkg_version in debpkg_by_version %}
            {% if "weechat" in debpkg_version.list.0.Source %}
            <span class="text-nowrap {% if debpkg_version.list.0.version_type == "dev" %}text-danger{% else %}text-success fw-bold{% endif %}">{{ debpkg_version.grouper }}</span>{% if not forloop.last %},{% endif %}
            {% endif %}
            {% endfor %}
            {% if not forloop.last %}<br>{% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<h3>{% trans "Detail" %}</h3>

<div class="row">
  {% regroup debpkgs by repoarch as debpkgs_by_repoarch %}
  {% for repoarch in debpkgs_by_repoarch %}

  {% regroup repoarch.list|dictsortreversed:"builddatetime" by Source as debpkgs_by_source %}
  {% for debpkg_source in debpkgs_by_source %}
  {% if forloop.first %}
  <div class="col-12" id="{{ repoarch.grouper }}">
    <div class="card mt-2 mb-4{% if not repoarch.list.0.repo.active %} discontinued{% endif %}">
      <div class="card-header ps-2">
        <div class="d-flex">
          <div class="flex-shrink-0">
            <img src="{{ MEDIA_URL }}images/{{ repoarch.list.0.repo.name }}.png" class="me-2" alt="Logo">
          </div>
          <div class="flex-grow-1 ms-1">
            <h5 class="my-0">
              <strong>
                {{ debpkg_source.list.0.repo.name|capfirst }}
                {% comment %}Translators: purpose is to "translate" only quotes here{% endcomment %}
                {% blocktrans with codename=debpkg_source.list.0.repo.version.codename %}“{{ codename }}”{% endblocktrans %}
                <small class="text-muted">({{ debpkg_source.list.0.repo.version.version }})</small>
              </strong>
            </h5>
            <small><samp>{{ debpkg_source.list.0.repo.apt_url }}</samp></small>
          </div>
        </div>
      </div>
      <div class="card-body">
        {% if debpkg_source.list.0.repo.message %}
        <p class="text-primary">
          <strong>{% trans "Important" %}:</strong> {{ debpkg_source.list.0.repo.message }}
        </p>
        {% endif %}
        <div class="table-responsive col-12 col-lg-10 col-xl-8">
          <table class="table table-sm table-borderless">
  {% endif %}

            {% regroup debpkg_source.list|dictsort:"arch" by arch as debpkgs_by_arch %}
            {% for debpkg_arch in debpkgs_by_arch %}
            <tr>
              <td class="text-nowrap">{{ debpkg_arch.list.0.Source }}</td>
              <td class="text-nowrap {% if "dev" in debpkg_arch.list.0.Version %}text-danger{% else %}text-success fw-bold{% endif %}" title="{% if "dev" in debpkg_arch.list.0.Version %}{% trans "Development version" %}{% else %}{% trans "Stable version" %}{% endif %}">{{ debpkg_arch.list.0.Version }}</td>
              <td class="text-nowrap" title="{% trans "Architecture" %}">{{ debpkg_arch.list.0.arch }}</td>
              <td class="text-nowrap">{{ debpkg_arch.list.0.builddatetime|localdate:"datetime" }}</td>
              <td class="text-nowrap"><a href="{% url 'download_debian_active' active=active %}{% if not allfiles %}files/#{{ debpkg_arch.list.0.anchor }}{% endif %}" id="{{ debpkg_arch.list.0.anchor }}">{{ debpkg_arch.list|length }} {% trans "files" %}</a></td>
            {% if allfiles %}
            <tr>
              <td colspan="5">
                <ul>
                  {% for debpkg in debpkg_arch.list|dictsort:"basename" %}
                  <li>
                    <a href="{{ debpkg.repo.url }}/{{ debpkg.Filename }}">{{ debpkg.basename }}</a>
                    <small class="text-muted">({{ debpkg.size|filesizeformat }})</small>
                  </li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            {% endif %}
            </tr>
            {% endfor %}

  {% if forloop.last %}
          </table>
        </div>
      </div>
      <div class="card-footer">
        {% trans "Builds by" %} {{ debpkg_source.list.0.repo.builder.name }}
        <span class="text-muted">({{ debpkg_source.list.0.repo.builder.nick }})</span>,
        {% trans "latest build:" %}
        <strong>{{ debpkgs_by_source.0.list.0.builddatetime|localdate:"r" }}</strong>
        {% if debpkgs_by_source.0.list.0.nextbuilddatetime %}
        ({% trans "next build:" %} {{ debpkgs_by_source.0.list.0.nextbuilddatetime|naturaltime }})
        {% endif %}
        <br>
      </div>
    </div>
  </div>
  {% endif %}

  {% endfor %}
  {% endfor %}
</div>

{% else %}

<div class="alert alert-success">
  {% trans "No debian repository." %}
</div>

{% endif %}

{% endblock content %}
