{% extends "base.html" %}

{% load i18n %}

{% block title %}WeeChat :: {% trans "download" %}{% endblock %}
{% block css %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/download.css" media="screen" title="Normal" />{% endblock %}
{% block menu %}download{% endblock %}

{% block content %}

<div class="navbt">
  <ul>
    <li><a href="{% url 'download_version' 'stable' %}" class="{% block menu2_stable %}{% endblock %}">{% trans "Stable" %}</a></li>
    <li><a href="{% url 'download_version' 'devel' %}" class="{% block menu2_devel %}{% endblock %}">{% trans "Devel" %}</a></li>
    <li><a href="{% url 'download_version' 'old' %}" class="{% block menu2_old %}{% endblock %}">{% trans "Old versions" %}</a></li>
    <li><a href="{% url 'download_debian' %}" class="{% block menu2_debian %}{% endblock %}">{% trans "Debian repositories" %}</a></li>
    <li><a href="{% url 'download_security' %}" class="{% block menu2_security %}{% endblock %}">{% trans "Security" %}</a></li>
    <li><a href="{% url 'download_release' %}" class="{% block menu2_release %}{% endblock %}">{% trans "Release" %}</a></li>
  </ul>
</div>

{% endblock content %}
