{% extends "base.html" %}

{% load i18n %}

{% block title %}WeeChat :: {% trans "download" %}{% endblock %}
{% block menu %}download{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link {% block menu2_stable %}{% endblock %}" href="{% url 'download_version' 'stable' %}">{% trans "Stable" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_devel %}{% endblock %}" href="{% url 'download_version' 'devel' %}">{% trans "Devel" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_old %}{% endblock %}" href="{% url 'download_version' 'old' %}">{% trans "Old versions" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_debian %}{% endblock %}" href="{% url 'download_debian' %}">{% trans "Debian/Ubuntu repositories" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_security %}{% endblock %}" href="{% url 'download_security' %}">{% trans "Security" %}</a></li>
  <li class="nav-item"><a class="nav-link {% block menu2_interfaces %}{% endblock %}" href="{% url 'download_interfaces' %}">{% trans "Interfaces" %}</a></li>
</ul>

{% endblock content %}
