{% extends "download/download.html" %}

{% load i18n %}{% load localdate %}

{% block menu2_stable %}{% if version == "stable" %}selected{% endif %}{% endblock %}
{% block menu2_devel %}{% if version == "devel" %}selected{% endif %}{% endblock %}
{% block menu2_old %}{% if version == "old" %}selected{% endif %}{% endblock %}

{% block content %}

{{ block.super }}

{% if package_list %}

  <div class="download">

    {% if version == "stable" %}
      {% if release_progress.done >= 0 and release_progress.pct < 100 %}
        <div class="infobox">
          {% url 'download_release' as download_release_url %}
          {% blocktrans %}<strong>A new release is under construction!</strong> Follow the progress on <a href="{{ download_release_url }}">this page</a>.{% endblocktrans %}
        </div>
      {% endif %}
    {% endif %}

    {% if version == "devel" %}
      <div class="warningbox">
        {% trans "<strong>Warning:</strong> this version may be unstable or it may not compile, you're warned!" %}
      </div>
    {% endif %}

    {% if version == "old" %}
      <div class="warningbox">
        {% trans "<strong>Warning:</strong> it is not recommended to download any old version, because they are less stable." %}
        <br />
        {% trans "Do it only if you've got problems with latest version and that developers didn't manage to solve your problem!" %}
      </div>
    {% endif %}

    {% regroup package_list by version as packages_by_version %}
    {% for package_version in packages_by_version %}
      {% if not forloop.first %}<div class="dlsep"></div>{% endif %}
      <div class="dltitle">
        {% trans "Version" %}
        {% if package_version.grouper.description %}
          {{ package_version.grouper.description }}
        {% else %}
          {{ package_version.grouper.version }}
        {% endif %}
        <span class="dldate">
          ({% if version == "devel" %}{% trans "next stable version" %}: &asymp; {% endif %}{{ package_version.grouper.date_l10n }})
        </span>
      </div>
      {% if package_version.grouper.securityfix %}
        <div class="warningbox">
          {% url 'download_security' as download_security_url %}
          {% blocktrans %}<strong>Warning:</strong> this version has a <a href="{{ download_security_url }}">vulnerability</a> which is fixed in version{% endblocktrans %}
          {{ package_version.grouper.securityfix }}.
        </div>
      {% endif %}
      <div class="dlsub">
        <div class="dlsubtitle">{% trans "Packages" %}</div>
        {% for package in package_version.list %}
        <div class="dlitem">
          <span class="dltype">
            {{ package.type.description }}{% if package.text %}({{ package.text }}){% endif %}
          </span>
          <img src="{{ MEDIA_URL }}images/dl_{{ package.type.icon }}.png" class="dlicon" alt="{{ package.type.icon }}" />
          {% if package.filename %}
            {% if package.exists %}
              <a href="/files{{ package.type.htmldir }}/{{ package.filename }}">{{ package.filename }}</a>
              <span class="dlinfopackage">
                ({{ package.filesize|filesizeformat }}{% if package.display_time %}, {{ package.filedate|localdate }} {{ package.filedate|date:"H:i" }}{% endif %}{% if package.sha1sum %}, sha1: {{ package.sha1sum }}{% endif %}{% if package.has_gpg_sig %}, <a href="/files{{ package.type.htmldir }}/{{ package.filename }}.asc" target="_blank">gpg sig</a>{% endif %})
              </span>
            {% else %}
              <span class="notfound">{{ package.filename }}</span>
            {% endif %}
          {% else %}
            {% if package.directory %}
              {% if package.exists %}
                <a href="/files/{{ package.directory }}" target="_blank"{% if not package.exists %} class="notfound"{% endif %}>{{ package.directory }}</a>
                <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
              {% else %}
                <span class="notfound">{{ package.directory }}</span>
              {% endif %}
            {% else %}
              {% if package.url %}
                <a href="{{ package.url }}" target="_blank">{{ package.url }}</a>
                <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
              {% else %}
                {{ package.text }}
              {% endif %}
            {% endif %}
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="dlsub">
        <div class="dlsubtitle">{% trans "About release" %}</div>
        <div class="dlitem">
          <span class="dltype">{% trans "ChangeLog" %}</span>
          <img src="{{ MEDIA_URL }}images/dl_doc.png" class="dlicon" alt="doc" />
          <a href="/files/changelog/ChangeLog-{{ package_version.grouper.version }}.html" target="_blank">ChangeLog-{{ package_version.grouper.version }}.html</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
        <div class="dlitem">
          <span class="dltype">{% trans "Release notes" %}</span>
          <img src="{{ MEDIA_URL }}images/dl_doc.png" class="dlicon" alt="doc" />
          <a href="/files/releasenotes/ReleaseNotes-{{ package_version.grouper.version }}.html" target="_blank">ReleaseNotes-{{ package_version.grouper.version }}.html</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
      </div>
    {% endfor %}

    {% if version == "stable" or version == "devel" %}
      <div class="dlsub">
        <div class="dlsubtitle">{% trans "Remote interfaces" %}</div>
        <div class="dlitem">
          <span class="dltype">HTML5</span>
          <img src="{{ MEDIA_URL }}images/dl_html5.png" class="dlicon" alt="html5" />
          <a href="http://www.glowing-bear.org" target="_blank">http://www.glowing-bear.org/</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
        <div class="dlitem">
          <span class="dltype">Qt</span>
          <img src="{{ MEDIA_URL }}images/dl_qt.png" class="dlicon" alt="android" />
          {% if version == "devel" %}QWeeChat {% trans "(see above)" %}{% else %}<a href="{% url 'download_version' 'devel' %}">QWeeChat</a>{% endif %}
        </div>
        <div class="dlitem">
          <span class="dltype">Android</span>
          <img src="{{ MEDIA_URL }}images/dl_android.png" class="dlicon" alt="android" />
          <a href="https://github.com/ubergeek42/weechat-android" target="_blank">https://github.com/ubergeek42/weechat-android</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
        <div class="dlitem">
          <span class="dltype">Emacs</span>
          <img src="{{ MEDIA_URL }}images/dl_emacs.png" class="dlicon" alt="emacs" />
          <a href="https://github.com/the-kenny/weechat.el" target="_blank">https://github.com/the-kenny/weechat.el</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
        <div class="dlitem">
          <span class="dltype">JavaScript</span>
          <img src="{{ MEDIA_URL }}images/dl_web.png" class="dlicon" alt="web-js" />
          <a href="http://weecloud.jit.su/" target="_blank">http://weecloud.jit.su/</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
      </div>
    {% endif %}

    {% if version == "stable" %}
      <h2>{% trans "Checking the signatures" %}</h2>
      <div class="dlsign">
        <ul>
          <li>
            {% trans "Import the gpg key:" %}
            <br /><kbd>$ gpg --keyserver wwwkeys.pgp.net --recv-keys DEC408F8</kbd>
          </li>
          <li>
            {% trans "Display the fingerprint:" %}
            <br /><kbd>$ gpg --fingerprint DEC408F8</kbd>
          </li>
          <li>
            {% trans "Check that the fingerprint is correct by asking to a developer on #weechat (chat.freenode.net)." %}
          </li>
          <li>
            {% trans "Trust the key:" %}
            <br />
            <kbd>
              $ gpg --edit-key DEC408F8
              <br />
              $ trust
            </kbd>
          </li>
          <li>
            {% trans "In directory with package + signature:" %}
            <br /><kbd>$ gpg --verify weechat-X.Y.Z.tar.gz.asc</kbd>
          </li>
          <li>
            {% trans "If the signature is OK you should see a message like this one:" %}
            <br />
            <kbd>
              gpg: Signature made Sat 20 Oct 2012 07:36:35 PM CEST using RSA key ID DEC408F8
              <br />
              gpg: Good signature from "WeeChat (signing key) &lt;webmaster@weechat.org&gt;"
            </kbd>
          </li>
        </ul>
      </div>
    {% endif %}
    {% if version == "devel" %}
      <div class="dlsub">
        <div class="dlsubtitle">{% trans "Links" %}</div>
        <div class="dlitem">
          <span class="dltype">{% trans "Savannah page" %}</span>
          <img src="{{ MEDIA_URL }}images/dl_savannah.png" class="dlicon" alt="savannah" />
          <a href="http://savannah.nongnu.org/projects/weechat" target="_blank">http://savannah.nongnu.org/projects/weechat</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
        <div class="dlitem">
          <span class="dltype">{% trans "Git - sources" %}</span>
          <img src="{{ MEDIA_URL }}images/dl_github.png" class="dlicon" alt="git" />
          <a href="https://github.com/weechat/weechat" target="_blank">https://github.com/weechat/weechat</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
        <div class="dlitem">
          <span class="dltype">{% trans "Git - scripts" %}</span>
          <img src="{{ MEDIA_URL }}images/dl_github.png" class="dlicon" alt="git" />
          <a href="https://github.com/weechat/scripts" target="_blank">https://github.com/weechat/scripts</a>
          <img src="{{ MEDIA_URL }}images/link.png" class="dllink" alt="" />
        </div>
        <div class="dlitem">
          <span class="dltype">{% trans "Git - clone" %}</span>
          <img src="{{ MEDIA_URL }}images/dl_git.png" class="dlicon" alt="git" />
          git clone https://github.com/weechat/weechat.git
        </div>
      </div>
    {% endif %}

  </div>
{% else %}
  <div class="errorbox">
    {% trans "Error: there is no version called" %} "{{ version }}"
  </div>
{% endif %}

{% endblock content %}
