{% extends "download/download.html" %}

{% load i18n %}{% load localdate %}

{% block menu2_stable %}{% if version == "stable" %}active{% endif %}{% endblock %}
{% block menu2_devel %}{% if version == "devel" %}active{% endif %}{% endblock %}
{% block menu2_old %}{% if version == "old" %}active{% endif %}{% endblock %}

{% block content %}

{{ block.super }}

{% if package_list %}

{% if version == "stable" and release_progress.done >= 0 and release_progress.pct < 100 %}
<div class="alert alert-success">
  {% url 'download_release' as download_release_url %}
  {% blocktrans %}<strong>A new release is under construction!</strong> Follow the progress on <a href="{{ download_release_url }}">this page</a>.{% endblocktrans %}
</div>
{% endif %}

{% if version == "old" %}
<div class="alert alert-warning">
  {% trans "<strong>Important:</strong> it is not recommended to download or use any of these old versions: they are less stable than the latest released version, and may contain security vulnerabilities fixed in later versions." %}
</div>
{% endif %}

{% regroup package_list by version as packages_by_version %}
{% for package_version in packages_by_version %}

<div class="card mb-4">
  <div class="card-header">
    <h4 class="my-0">
      {% trans "Version" %}
      {% if package_version.grouper.description %}
      {{ package_version.grouper.description }}
      {% else %}
      {{ package_version.grouper.version }}
      {% endif %}
      <small class="text-muted">
        ({% if version == "devel" %}{% trans "next stable version" %}: &asymp; {% endif %}{{ package_version.grouper.date_l10n }})
      </small>
    </h4>
  </div>
  <div class="card-body pb-2">
    {% if version == "devel" %}
    <p>
      {% trans "<strong>Important:</strong> this version may be unstable or it may not compile, you're warned!" %}
    </p>
    {% endif %}
    {% if package_version.grouper.securityfix %}
    <div class="alert alert-danger">
      {% with version=package_version.grouper.version %}
      {% url 'doc_security_version' version as security_url %}
      {% blocktrans %}<strong>Warning:</strong> the version {{ version }} has one or more <a href="{{ security_url }}">vulnerabilities</a>, it is not recommended to use it.{% endblocktrans %}
      {% endwith %}
      {% trans "Vulnerabilities fixed in versions:" %}
      {% for fixed_version in package_version.grouper.security_fixed_versions %}{% if not forloop.first %}, {% endif %}<a href="{% url 'download_version' version=fixed_version %}">{{ fixed_version }}</a>{% endfor %}.
    </div>
    {% elif version != "devel" and version != "old" and package_version.grouper.security_issues_fixed > 0 %}
    <div class="alert alert-secondary">
      {% url 'doc_security' as security_url %}
      {% blocktrans trimmed count counter=package_version.grouper.security_issues_fixed %}
      <strong>Note:</strong> this release fixes <a href="{{ security_url }}">{{ counter }} vulnerability</a>.
      {% plural %}
      <strong>Note:</strong> this release fixes <a href="{{ security_url }}">{{ counter }} vulnerabilities</a>.
      {% endblocktrans %}
      {% trans "It is recommended to upgrade from any older version to this one." %}
    </div>
    {% endif %}

    <div class="row">
      <div class="col-auto">
        <a href="/files/changelog/ChangeLog-{{ package_version.grouper.version }}.html" target="_blank" rel="noopener">
          {% trans "ChangeLog" %} <sup>↗</sup>
        </a>
      </div>
      <div class="col-auto">
        <a href="/files/releasenotes/ReleaseNotes-{{ package_version.grouper.version }}.html" target="_blank" rel="noopener">
          {% trans "Release notes" %} <sup>↗</sup>
        </a>
      </div>
    </div>

    <h6>{% trans "Packages:" %}</h6>

    <ul>
    {% for package in package_version.list %}
      <li>
        {% if package.filename %}
          {% if package.exists %}
            <a href="/files{{ package.type.htmldir }}/{{ package.filename }}" title="{{ package.type.description }}">{{ package.filename }}</a>
            <small class="text-muted">
              ({{ package.filesize|filesizeformat }}{% if package.display_time %}, {{ package.filedate|localdate:"datetime" }}{% endif %}{% if package.has_checksum %}, <a href="{% url 'package_checksums' package.version.version package.checksum_type %}" target="_blank" rel="noopener" title="{% trans "Checksum" %} ({{ package.checksum_type|upper }}): {{ package.checksum }}">{{ package.checksum_type|upper }}</a>{% endif %}{% if package.has_gpg_sig %}, <a href="/files{{ package.type.htmldir }}/{{ package.filename }}.asc" target="_blank" rel="noopener" title="{% trans "GPG signature" %}">GPG</a>{% endif %})
            </small>
          {% else %}
            <span class="text-muted" title="{{ package.type.description }}">{{ package.filename }}</span>
          {% endif %}
        {% elif package.directory %}
          {% if package.exists %}
            <a href="/files/{{ package.directory }}" target="_blank" rel="noopener"{% if not package.exists %} class="text-muted"{% endif %} title="{{ package.type.description }}">
              {{ package.directory }} <sup>↗</sup>
            </a>
          {% else %}
            <span class="text-muted" title="{{ package.type.description }}">{{ package.directory }}</span>
          {% endif %}
        {% else %}
          {% if package.url %}
            <a href="{{ package.url }}" target="_blank" rel="noopener">
              {{ package.url }} <sup>↗</sup>
            </a>
          {% else %}
            {{ package.text }}
          {% endif %}
        {% endif %}
      </li>
    {% endfor %}
    </ul>

    {% if version != "devel" and version != "old" %}
    <h6>{% trans "Checking the signatures:" %}</h6>
    <ul class="signatures mt-2">
      <li>
        {% trans "Import the GPG key:" %}
        <pre><code>$ gpg --keyserver hkps://keys.openpgp.org --recv-keys A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8</code></pre>
        {% trans "In case of problem, the GPG key can be downloaded here:" %}
        <a href="{% url 'dev_info_name' name='release_signing_key' %}">
          {% trans "Release signing key (format: PGP public key)." %}
        </a>
      </li>
      <li>
        {% trans "Display the fingerprint:" %}
        <pre><code>$ gpg --fingerprint A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8</code></pre>
      </li>
      <li>
        {% trans "Check that the fingerprint is correct by checking the topic on #weechat channel (irc.libera.chat) or by asking to a developer." %}
      </li>
      <li>
        {% trans "Trust the key:" %}
        <pre><code>$ gpg --edit-key A9AB5AB778FA5C3522FD0378F82F4B16DEC408F8
gpg> trust</code></pre>
      </li>
      <li>
        {% trans "In directory with package + signature:" %}
        <pre><code>$ gpg --verify weechat-{{ package_version.grouper.version }}.tar.xz.asc weechat-{{ package_version.grouper.version }}.tar.xz</code></pre>
      </li>
      <li>
        {% trans "If the signature is OK you should see a message like this one:" %}
        <pre><code>gpg: Signature made Sat 20 Oct 2012 07:36:35 PM CEST using RSA key ID DEC408F8
gpg: Good signature from "WeeChat (signing key) &lt;webmaster@weechat.org&gt;"</code></pre>
      </li>
    </ul>
    {% endif %}

  </div>
</div>

{% endfor %}

{% else %}

<div class="alert alert-danger">
  {% blocktrans %}Error: there is no version called "{{ version }}".{% endblocktrans %}
</div>

{% endif %}

{% endblock content %}
