{% extends "download/download.html" %}

{% load i18n %}{% load localdate %}

{% block extrahead %}{% if release_progress.done >= 0 %}<meta http-equiv="refresh" content="30">{% endif %}{% endblock %}
{% block menu2_release %}selected{% endblock %}

{% block content %}

{{ block.super }}

{% if release_progress.done >= 0 %}
<h3>WeeChat: {{ release_progress.version }}</h3>

<div class="progress my-4" style="height: 30px;">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ release_progress.pct }}%" aria-valuenow="{{ release_progress.pct }}" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="release">
  <ul class="list-unstyled">
    {% for todo in release_progress.todo %}
    {% if forloop.counter <= release_progress.done %}
    <li class="done text-success"><em class="bg-success">&nbsp;</em>
    {% elif forloop.counter0 == release_progress.done %}
    <li class="in-progress text-warning"><em>&nbsp;</em>
    {% else %}
    <li class="text-muted"><em>&nbsp;</em>
    {% endif %}
      {{ forloop.counter }}. {{ todo.description }}
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<h3>{% trans "No release in progress." %}</h3>
<p>
  {% trans "This page is updated only a few hours during the build of a new version." %}
</p>
<p>
  {% trans "We are working hard on the next version:" %}
  <strong>{{ release_progress.version }}</strong> (&asymp; {{ release_progress.date|localdate }}).
</p>
{% endif %}

{% endblock content %}
