name: CI

on:
  - push
  - pull_request

jobs:

  build:

    name: ${{ matrix.python-version }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"

    steps:

      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          sudo apt-get install gettext libenchant-dev
          python -m pip install --upgrade pip
          pip install django pygments msgcheck flake8 pylint pylint-django

      - name: Check gettext files
        run: make gettext

      - name: Lint with flake8
        run: make flake8

      - name: Lint with pylint
        run: make pylint
